<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.security.dao.master.DictMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.security.entity.Dict">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_index" jdbcType="INTEGER" property="orderIndex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="extra" jdbcType="INTEGER" property="extra" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, name, code, order_index, create_time, extra
  </sql>
  <insert id="save" parameterType="cn.linkmore.security.entity.Dict">
    insert into t_base_dict (id, group_id, name, 
      code, order_index, create_time, 
      extra)
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{orderIndex,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{extra,jdbcType=INTEGER})
  </insert>
  
  <update id="update" parameterType="cn.linkmore.security.entity.Dict">
    update t_base_dict
    set group_id = #{groupId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      order_index = #{orderIndex,jdbcType=INTEGER},
      extra = #{extra,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="delete" parameterType="java.util.List">
    delete from t_base_dict
    where id in
    <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
       #{id}
    </foreach> 
  </delete> 
</mapper>