<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.security.dao.master.PersonMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.security.entity.Person">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
    <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="lock_count" jdbcType="INTEGER" property="lockCount" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, lock_status, lock_time, login_ip, lock_count, login_time, 
    status, create_time, realname, ent_id, type
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_sec_person
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.security.entity.Person">
    insert into t_sec_person (id, username, password, 
      lock_status, lock_time, login_ip, 
      lock_count, login_time, status, 
      create_time, realname, ent_id, 
      type)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{lockStatus,jdbcType=INTEGER}, #{lockTime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, 
      #{lockCount,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{realname,jdbcType=VARCHAR}, #{entId,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <update id="update" parameterType="cn.linkmore.security.entity.Person">
    update t_sec_person
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      lock_status = #{lockStatus,jdbcType=INTEGER},
      lock_time = #{lockTime,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      lock_count = #{lockCount,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      realname = #{realname,jdbcType=VARCHAR},
      ent_id = #{entId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>