<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.security.dao.master.RolePageMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.security.entity.RolePage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="page_id" jdbcType="BIGINT" property="pageId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, page_id, role_id
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_sec_role_page
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.security.entity.RolePage">
    insert into t_sec_role_page (id, page_id, role_id
      )
    values (#{id,jdbcType=BIGINT}, #{pageId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
      )
  </insert>
  <update id="update" parameterType="cn.linkmore.security.entity.RolePage">
    update t_sec_role_page
    set page_id = #{pageId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <insert id="batchSave"  parameterType="java.util.List"> 
    insert into t_sec_role_page (id, role_id, page_id) values  
    <foreach collection="list" item="item" index="index" separator=",">  
	     (#{item.id,jdbcType=BIGINT},#{item.roleId,jdbcType=BIGINT}, #{item.pageId,jdbcType=BIGINT})
    </foreach> 
  </insert> 
</mapper>