<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.common.dao.master.AppVersionMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.common.entity.AppVersion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="code" jdbcType="BIGINT" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="update_status" jdbcType="INTEGER" property="updateStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, code, name, status, url, type, update_status, create_time, description, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_base_app_version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_base_app_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pabei.backend.domain.AppVersionNew">
    insert into t_base_app_version (id, version, code, 
      name, status, url, 
      type, update_status, create_time, 
      description, update_time)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=VARCHAR}, #{code,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{updateStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="cn.linkmore.common.entity.AppVersion">
    update t_base_app_version
    set version = #{version,jdbcType=VARCHAR},
      code = #{code,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      update_status = #{updateStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="current" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, version, code, name, status, url, type, update_status, 
    create_time, description, update_time
    from t_base_app_version
    where type = #{appType,jdbcType=INTEGER} and status = 1 
    ORDER BY code desc LIMIT 0,1
  </select>
</mapper>