<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.common.dao.master.CityMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.common.entity.City">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="adcode" jdbcType="VARCHAR" property="adcode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city_name, adcode
  </sql> 
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_city
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.common.entity.City">
    insert into t_city (id, city_name, adcode
      )
    values (#{id,jdbcType=BIGINT}, #{cityName,jdbcType=VARCHAR}, #{adcode,jdbcType=VARCHAR}
      )
  </insert> 
  <update id="update" parameterType="cn.linkmore.common.entity.City">
    update t_city
    <set>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="adcode != null">
        adcode = #{adcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update> 
</mapper>