<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.ComboClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.response.ResCombo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="validity" jdbcType="SMALLINT" property="validity" />
    <result column="combo_json" jdbcType="VARCHAR" property="comboJson" />
    <result column="total_num" jdbcType="SMALLINT" property="totalNum" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="operater_id" jdbcType="BIGINT" property="operaterId" />
    <result column="utility_package" jdbcType="INTEGER" property="utilityPackage" />
    <result column="combo_type" jdbcType="INTEGER" property="comboType" />
    <result column="validity_day" jdbcType="SMALLINT" property="validityDay" />
    <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, validity, combo_json, total_num, total_amount, status, create_time, update_time, 
    operater_id, utility_package, combo_type, validity_day, delete_status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_combo
    where id = #{id,jdbcType=BIGINT}
  </select>
  
   <select id="selectComboListByType" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_combo where status = 0 and combo_type = #{comboType,jdbcType=INTEGER}
  </select>
  
</mapper>