<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.CouponQrcReceiveClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.CouponQrcReceive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="qrc_id" jdbcType="BIGINT" property="qrcId" />
    <result column="combo_id" jdbcType="BIGINT" property="comboId" />
    <result column="pack_id" jdbcType="BIGINT" property="packId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="receive_status" jdbcType="SMALLINT" property="receiveStatus" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, qrc_id, combo_id, pack_id, enterprise_id, open_id, receive_status, user_id, create_time, 
    update_time
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coupon_qrc_receive
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>