<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.CouponThemeClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.CouponTheme">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tellphone" jdbcType="VARCHAR" property="tellphone" />
    <result column="about_url" jdbcType="VARCHAR" property="aboutUrl" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, enterprise_name, logo_url, address, remark, tellphone, about_url, 
    status, template_id, template_name, template_code, create_time
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coupon_theme
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>