<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.RollbackClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.Rollback">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="rollback_date" jdbcType="TIMESTAMP" property="rollbackDate" />
    <result column="enterprise_deal_number" jdbcType="VARCHAR" property="enterpriseDealNumber" />
    <result column="used_deal_pay_amount" jdbcType="DECIMAL" property="usedDealPayAmount" />
    <result column="user_deal_gift_amount" jdbcType="DECIMAL" property="userDealGiftAmount" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="given_amount" jdbcType="DECIMAL" property="givenAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, template_id, rollback_date, enterprise_deal_number, used_deal_pay_amount, user_deal_gift_amount, 
    contract_amount, given_amount
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coupon_rollback
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>