<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.SendRecordClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.response.ResSendRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="condition_id" jdbcType="BIGINT" property="conditionId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="task_time" jdbcType="TIMESTAMP" property="taskTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, template_id, condition_id, creator_id, creator_name, task_time, create_time, 
    status, send_time
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coupon_send_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  
   <select id="findTaskList" resultMap="BaseResultMap" >
  	select 
	<include refid="Base_Column_List" /> 
    from t_coupon_send_record
    where 1 = 1 and type = 1 and status = 0 and task_time is not null
  </select>
  
  
  
</mapper>