<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.TemplateConditionClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.TemplateCondition">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="available_time" jdbcType="INTEGER" property="availableTime" />
    <result column="available_prefecture" jdbcType="INTEGER" property="availablePrefecture" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, template_id, available_time, available_prefecture, status, create_time, 
    is_default
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coupon_template_condition
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findTemplateList" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coupon_template_condition
    where template_id in 
    <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
       #{id,jdbcType=BIGINT}
    </foreach> 
  </select>
  
</mapper>