<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.cluster.ValuePackClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.response.ResValuePack">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pack_name" jdbcType="VARCHAR" property="packName" />
    <result column="available_amount" jdbcType="DECIMAL" property="availableAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="is_disable" jdbcType="SMALLINT" property="isDisable" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="validity" jdbcType="SMALLINT" property="validity" />
    <result column="validity_date" jdbcType="TIMESTAMP" property="validityDate" />
    <result column="operater_id" jdbcType="BIGINT" property="operaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="value_pack_type" jdbcType="INTEGER" property="valuePackType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, pack_name, available_amount, total_amount, is_disable, status, validity, 
    validity_date, operater_id, create_time, update_time, value_pack_type
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_value_pack
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectPackTypeList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_value_pack where is_disable = 0 and status = 0 and value_pack_type = #{comboType,jdbcType=INTEGER}
  </select>

</mapper>