<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.master.CommonMasterMapper">
  <update id="updateColumnValue" parameterType="cn.linkmore.account.entity.Common">
    update ${table}
    set ${column} = ${columnValue}
    where 1=1  ${sql}
  </update>
  <update id="updateList" parameterType="cn.linkmore.account.entity.Common">
    update ${table}
    set ${updateSql}
    where 1=1 ${sql}
  </update>
  <insert id="insert" parameterType="cn.linkmore.account.entity.Common" useGeneratedKeys="true" keyProperty="id">
  	insert into ${table}(${columns}) value(${insertSql});
  </insert>
  
  <insert id="insertList" parameterType="cn.linkmore.account.entity.Common" useGeneratedKeys="true" keyProperty="id">
	insert into ${table} (${columns}) values
    <foreach collection="insertSqls" item="item" index="index" separator=",">
		(${item})
  	</foreach>
  </insert>
</mapper>