<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.master.ThirdUserMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.ThirdUser">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
  </resultMap>
  <insert id="save" parameterType="cn.linkmore.account.entity.ThirdUser">
    insert into t_third_user (id, account_name, phone, 
      nickname, user_id, app_id, third_user_id
      )
    values (#{id,jdbcType=BIGINT}, #{accountName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{appId,jdbcType=VARCHAR},#{thirdUserId,jdbcType=BIGINT}
      )
  </insert>
  
  <update id="update" parameterType="java.util.Map">
    update t_third_user
    set phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>