<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.master.UserInfoMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="gender" jdbcType="SMALLINT" property="gender" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="bind_time" jdbcType="TIMESTAMP" property="bindTime" />
  </resultMap>
   
  <insert id="save"  useGeneratedKeys="true" keyProperty="id"  parameterType="cn.linkmore.account.entity.UserInfo">
    insert into t_wx_user_info (id, nick_name, gender, 
      city, province, country, 
      avatarurl, union_id, user_id, 
      create_time, bind_time)
    values (#{id,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=SMALLINT}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{avatarurl,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{bindTime,jdbcType=TIMESTAMP})
  </insert> 
  <update id="update" parameterType="cn.linkmore.account.entity.UserInfo">
    update t_wx_user_info
    set nick_name = #{nickName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=SMALLINT},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      union_id = #{unionId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      bind_time = #{bindTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>