<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linkmore.account.dao.master.UserVersionMasterMapper" >
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.UserVersion" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="client" property="client" jdbcType="SMALLINT" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="os_version" property="osVersion" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="commit_time" property="commitTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_version
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.linkmore.account.entity.UserVersion" >
    insert into t_user_version (user_id, client, model, 
      os_version, uuid, version, 
      commit_time)
    values (#{userId,jdbcType=BIGINT}, #{client,jdbcType=SMALLINT}, #{model,jdbcType=VARCHAR}, 
      #{osVersion,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{commitTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.linkmore.account.entity.UserVersion" >
    update t_user_version
    set client = #{client,jdbcType=SMALLINT},
      model = #{model,jdbcType=VARCHAR},
      os_version = #{osVersion,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      commit_time = #{commitTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>