<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.master.UserMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="ent_admin_name" jdbcType="VARCHAR" property="entAdminName" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="hobby_brand_id" jdbcType="BIGINT" property="hobbyBrandId" />
    <result column="is_app_register" jdbcType="SMALLINT" property="isAppRegister" />
    <result column="is_wechat_bind" jdbcType="SMALLINT" property="isWechatBind" />
    <result column="app_register_time" jdbcType="TIMESTAMP" property="appRegisterTime" />
    <result column="wechat_bind_time" jdbcType="TIMESTAMP" property="wechatBindTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="complete_order_count" jdbcType="INTEGER" property="completeOrderCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, nickname, sex, status, user_type, enterprise_name, ent_admin_name, 
    industry, parent_id, mobile, province, city, address, email, wechat, qq, icon, last_login_time, 
    create_time, update_time, hobby_brand_id, is_app_register, is_wechat_bind, app_register_time, 
    wechat_bind_time, type, login_count, order_count, complete_order_count
  </sql>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.linkmore.account.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into t_user (id, username, password, 
      nickname, sex, status, 
      user_type, enterprise_name, ent_admin_name, 
      industry, parent_id, mobile, 
      province, city, address, 
      email, wechat, qq, 
      icon, last_login_time, create_time, 
      update_time, hobby_brand_id, is_app_register, 
      is_wechat_bind, app_register_time, wechat_bind_time, 
      type, login_count, order_count, 
      complete_order_count)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT}, #{status,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{enterpriseName,jdbcType=VARCHAR}, #{entAdminName,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{hobbyBrandId,jdbcType=BIGINT}, #{isAppRegister,jdbcType=SMALLINT}, 
      #{isWechatBind,jdbcType=SMALLINT}, #{appRegisterTime,jdbcType=TIMESTAMP}, #{wechatBindTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=SMALLINT}, #{loginCount,jdbcType=INTEGER}, #{orderCount,jdbcType=INTEGER}, 
      #{completeOrderCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.linkmore.account.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="enterpriseName != null">
        enterprise_name,
      </if>
      <if test="entAdminName != null">
        ent_admin_name,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="hobbyBrandId != null">
        hobby_brand_id,
      </if>
      <if test="isAppRegister != null">
        is_app_register,
      </if>
      <if test="isWechatBind != null">
        is_wechat_bind,
      </if>
      <if test="appRegisterTime != null">
        app_register_time,
      </if>
      <if test="wechatBindTime != null">
        wechat_bind_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="loginCount != null">
        login_count,
      </if>
      <if test="orderCount != null">
        order_count,
      </if>
      <if test="completeOrderCount != null">
        complete_order_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null">
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="entAdminName != null">
        #{entAdminName,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hobbyBrandId != null">
        #{hobbyBrandId,jdbcType=BIGINT},
      </if>
      <if test="isAppRegister != null">
        #{isAppRegister,jdbcType=SMALLINT},
      </if>
      <if test="isWechatBind != null">
        #{isWechatBind,jdbcType=SMALLINT},
      </if>
      <if test="appRegisterTime != null">
        #{appRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatBindTime != null">
        #{wechatBindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="loginCount != null">
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="completeOrderCount != null">
        #{completeOrderCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="cn.linkmore.account.entity.User">
    update t_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null">
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="entAdminName != null">
        ent_admin_name = #{entAdminName,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hobbyBrandId != null">
        hobby_brand_id = #{hobbyBrandId,jdbcType=BIGINT},
      </if>
      <if test="isAppRegister != null">
        is_app_register = #{isAppRegister,jdbcType=SMALLINT},
      </if>
      <if test="isWechatBind != null">
        is_wechat_bind = #{isWechatBind,jdbcType=SMALLINT},
      </if>
      <if test="appRegisterTime != null">
        app_register_time = #{appRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatBindTime != null">
        wechat_bind_time = #{wechatBindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="loginCount != null">
        login_count = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null">
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="completeOrderCount != null">
        complete_order_count = #{completeOrderCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.account.entity.User">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      status = #{status,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      ent_admin_name = #{entAdminName,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      hobby_brand_id = #{hobbyBrandId,jdbcType=BIGINT},
      is_app_register = #{isAppRegister,jdbcType=SMALLINT},
      is_wechat_bind = #{isWechatBind,jdbcType=SMALLINT},
      app_register_time = #{appRegisterTime,jdbcType=TIMESTAMP},
      wechat_bind_time = #{wechatBindTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=SMALLINT},
      login_count = #{loginCount,jdbcType=INTEGER},
      order_count = #{orderCount,jdbcType=INTEGER},
      complete_order_count = #{completeOrderCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByColumn" parameterType="java.util.Map">
    update t_user
   		 set ${column} = #{value},
    	update_time = #{updateTime}
    where id = #{id}
  </update>
  <update id="updateLoginTime" parameterType="java.util.Map" >
    update t_user
    set  
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}, 
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateMobile" parameterType="java.util.Map" >
    update t_user
    set  
      mobile = #{mobile},
      username=#{mobile}, 
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>