<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.master.WalletDetailMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.WalletDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="source" jdbcType="SMALLINT" property="source" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, amount, source, type, create_time, account_amount
  </sql>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_acc_wallet_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.account.entity.WalletDetail">
    insert into t_acc_wallet_detail (id, account_id, amount, 
      source, type, create_time, 
      account_amount)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, 
      #{source,jdbcType=SMALLINT}, #{type,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{accountAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="saveSelective" parameterType="cn.linkmore.account.entity.WalletDetail">
    insert into t_acc_wallet_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="accountAmount != null">
        account_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        #{source,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountAmount != null">
        #{accountAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="cn.linkmore.account.entity.WalletDetail">
    update t_acc_wallet_detail
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountAmount != null">
        account_amount = #{accountAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.account.entity.WalletDetail">
    update t_acc_wallet_detail
    set account_id = #{accountId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      source = #{source,jdbcType=SMALLINT},
      type = #{type,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      account_amount = #{accountAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>