<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.master.PrefectureMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.Prefecture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="district_id" jdbcType="BIGINT" property="districtId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="route_guidance" jdbcType="VARCHAR" property="routeGuidance" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="stall_total" jdbcType="INTEGER" property="stallTotal" />
    <result column="sold_times" jdbcType="INTEGER" property="soldTimes" />
    <result column="date_contract" jdbcType="TIMESTAMP" property="dateContract" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="route_description" jdbcType="VARCHAR" property="routeDescription" />
    <result column="areas_id" jdbcType="BIGINT" property="areasId" />
    <result column="base_dict_id" jdbcType="BIGINT" property="baseDictId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="order_index" jdbcType="INTEGER" property="orderIndex" />
    <result column="leave_time" jdbcType="INTEGER" property="leaveTime" />
    <result column="charge_price" jdbcType="VARCHAR" property="chargePrice" />
    <result column="charge_time" jdbcType="INTEGER" property="chargeTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="limit_status" jdbcType="SMALLINT" property="limitStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, strategy_id, status, name, district_id, address, latitude, longitude, route_guidance, 
    image_url, stall_total, sold_times, date_contract, valid_time, create_time, update_time, 
    route_description, areas_id, base_dict_id, city_id, order_index, leave_time, charge_price, 
    charge_time, type, enterprise_id, category, limit_status
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from v_prefecture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.prefecture.entity.Prefecture">
    insert into v_prefecture (id, strategy_id, status, 
      name, district_id, address, 
      latitude, longitude, route_guidance, 
      image_url, stall_total, sold_times, 
      date_contract, valid_time, create_time, 
      update_time, route_description, areas_id, 
      base_dict_id, city_id, order_index, 
      leave_time, charge_price, charge_time, 
      type, enterprise_id, category, 
      limit_status)
    values (#{id,jdbcType=BIGINT}, #{strategyId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{districtId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{routeGuidance,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{stallTotal,jdbcType=INTEGER}, #{soldTimes,jdbcType=INTEGER}, 
      #{dateContract,jdbcType=TIMESTAMP}, #{validTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{routeDescription,jdbcType=VARCHAR}, #{areasId,jdbcType=BIGINT}, 
      #{baseDictId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT}, #{orderIndex,jdbcType=INTEGER}, 
      #{leaveTime,jdbcType=INTEGER}, #{chargePrice,jdbcType=VARCHAR}, #{chargeTime,jdbcType=INTEGER}, 
      #{type,jdbcType=SMALLINT}, #{enterpriseId,jdbcType=BIGINT}, #{category,jdbcType=SMALLINT}, 
      #{limitStatus,jdbcType=SMALLINT})
  </insert>
  
  <update id="update" parameterType="cn.linkmore.prefecture.entity.Prefecture">
    update v_prefecture
    set strategy_id = #{strategyId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      route_guidance = #{routeGuidance,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      stall_total = #{stallTotal,jdbcType=INTEGER},
      sold_times = #{soldTimes,jdbcType=INTEGER},
      date_contract = #{dateContract,jdbcType=TIMESTAMP},
      valid_time = #{validTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      route_description = #{routeDescription,jdbcType=VARCHAR},
      areas_id = #{areasId,jdbcType=BIGINT},
      base_dict_id = #{baseDictId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      order_index = #{orderIndex,jdbcType=INTEGER},
      leave_time = #{leaveTime,jdbcType=INTEGER},
      charge_price = #{chargePrice,jdbcType=VARCHAR},
      charge_time = #{chargeTime,jdbcType=INTEGER},
      type = #{type,jdbcType=SMALLINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      category = #{category,jdbcType=SMALLINT},
      limit_status = #{limitStatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>