<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.master.StallMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.Stall">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="gateway_id" jdbcType="BIGINT" property="gatewayId" />
    <result column="radar" jdbcType="VARCHAR" property="radar" />
    <result column="lock_id" jdbcType="BIGINT" property="lockId" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="stall_local" jdbcType="VARCHAR" property="stallLocal" />
    <result column="route_guidance" jdbcType="VARCHAR" property="routeGuidance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="lock_battery" jdbcType="INTEGER" property="lockBattery" />
    <result column="lock_voltage" jdbcType="REAL" property="lockVoltage" />
    <result column="bind_order_status" jdbcType="SMALLINT" property="bindOrderStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stall_name, sell_count, pre_id, gateway_id, radar, lock_id, lock_sn, lock_status, 
    status, stall_local, route_guidance, create_time, update_time, image_url, lock_battery, 
    lock_voltage, bind_order_status
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from v_stall
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.prefecture.entity.Stall">
    insert into v_stall (id, stall_name, sell_count, 
      pre_id, gateway_id, radar, 
      lock_id, lock_sn, lock_status, 
      status, stall_local, route_guidance, 
      create_time, update_time, image_url, 
      lock_battery, lock_voltage, bind_order_status
      )
    values (#{id,jdbcType=BIGINT}, #{stallName,jdbcType=VARCHAR}, #{sellCount,jdbcType=INTEGER}, 
      #{preId,jdbcType=BIGINT}, #{gatewayId,jdbcType=BIGINT}, #{radar,jdbcType=VARCHAR}, 
      #{lockId,jdbcType=BIGINT}, #{lockSn,jdbcType=VARCHAR}, #{lockStatus,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{stallLocal,jdbcType=VARCHAR}, #{routeGuidance,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{imageUrl,jdbcType=VARCHAR}, 
      #{lockBattery,jdbcType=INTEGER}, #{lockVoltage,jdbcType=REAL}, #{bindOrderStatus,jdbcType=SMALLINT}
      )
  </insert>
  
  <update id="update" parameterType="cn.linkmore.prefecture.entity.Stall">
    update v_stall
    set stall_name = #{stallName,jdbcType=VARCHAR},
      sell_count = #{sellCount,jdbcType=INTEGER},
      pre_id = #{preId,jdbcType=BIGINT},
      gateway_id = #{gatewayId,jdbcType=BIGINT},
      radar = #{radar,jdbcType=VARCHAR},
      lock_id = #{lockId,jdbcType=BIGINT},
      lock_sn = #{lockSn,jdbcType=VARCHAR},
      lock_status = #{lockStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      stall_local = #{stallLocal,jdbcType=VARCHAR},
      route_guidance = #{routeGuidance,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      lock_battery = #{lockBattery,jdbcType=INTEGER},
      lock_voltage = #{lockVoltage,jdbcType=REAL},
      bind_order_status = #{bindOrderStatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="order" parameterType="cn.linkmore.prefecture.entity.Stall" >
    update v_stall
    set  
      lock_status = #{lockStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      bind_order_status = #{bindOrderStatus,jdbcType=INTEGER}  
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="cancel" parameterType="cn.linkmore.prefecture.entity.Stall" >
    update v_stall
    set  
      lock_status = #{lockStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      bind_order_status = #{bindOrderStatus,jdbcType=INTEGER}  
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="lockdown" parameterType="cn.linkmore.prefecture.entity.Stall" >
    update v_stall
    set  
      lock_status = #{lockStatus,jdbcType=INTEGER}, 
      lock_battery = #{lockBattery,jdbcType=INTEGER} 
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="checkout" parameterType="cn.linkmore.prefecture.entity.Stall" >
    update v_stall
    set  
      lock_status = #{lockStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      bind_order_status = #{bindOrderStatus,jdbcType=INTEGER} ,
      lock_battery = #{lockBattery,jdbcType=INTEGER}  
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="offline" parameterType="cn.linkmore.prefecture.entity.Stall" >
    update v_stall
    set  
    status = #{status,jdbcType=INTEGER}, 
    bind_order_status = #{bindOrderStatus,jdbcType=INTEGER} ,
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>