<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.master.StallLockMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.StallLock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="prefecture_id" jdbcType="BIGINT" property="prefectureId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="bind_time" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
  </resultMap>
  
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_biz_stall_lock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="cn.linkmore.prefecture.entity.StallLock">
    update t_biz_stall_lock
    set sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="cn.linkmore.prefecture.entity.StallLock">
  	insert into t_biz_stall_lock (sn,  create_time, create_user_id, create_user_name)
    values ( #{sn,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{createUserId,jdbcType=BIGINT},#{createUserName,jdbcType=VARCHAR} )
  </insert>
  
  <insert id="batchSave"  parameterType="java.util.List"> 
    insert into t_biz_stall_lock (sn, create_time) values  
    <foreach collection="list" item="item" index="index" separator=",">  
	     (#{item.sn,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach> 
  </insert>
  <update id="updateBind" parameterType="cn.linkmore.prefecture.entity.StallLock">
    update t_biz_stall_lock
    set prefecture_id = #{prefectureId,jdbcType=VARCHAR}, 
    stall_id = #{stallId,jdbcType=VARCHAR} ,
    bind_time = #{bindTime,jdbcType=VARCHAR}
    <if test="model != null">
   	 	,model = #{model,jdbcType=VARCHAR},
    </if>
    <if test="version != null">
	    ,version = #{version,jdbcType=VARCHAR},
	</if>
    <if test="battery != null">
	    ,battery = #{battery,jdbcType=INTEGER}
	</if>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>