<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.cluster.AuthRecordClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.AuthRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_name" jdbcType="VARCHAR" property="relationName" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="auth_user_id" jdbcType="BIGINT" property="authUserId" />
    <result column="auth_flag" jdbcType="SMALLINT" property="authFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stall_id, stall_name, mobile, username, start_time, end_time, relation_id, relation_name, 
    pre_id, pre_name, auth_user_id, auth_flag, create_time, update_time
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_auth_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findRecordList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_auth_record
    where 1 = 1
    <if test="authUserId!=null">  
    and auth_user_id = #{authUserId,jdbcType=BIGINT}
    </if> 
    <if test="preId!=null">  
    and pre_id like #{preId,jdbcType=BIGINT}
    </if> 
  </select>
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_auth_record
    where 1 = 1
    <if test="username!=null">  
    and username like #{username,jdbcType=VARCHAR}
    </if> 
    <if test="mobile!=null">  
    and mobile like #{mobile,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and pre_id = #{preId,jdbcType=BIGINT}
    </if> 
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from t_auth_record
    where 1 = 1
    <if test="username!=null">  
    and username like #{username,jdbcType=VARCHAR}
    </if> 
    <if test="mobile!=null">  
    and mobile like #{mobile,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and pre_id = #{preId,jdbcType=BIGINT}
    </if> 
  </select>
  
  
  
</mapper>