<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.cluster.EntBrandApplicantClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.response.ResBrandApplicant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ent_id, ent_name, user_id, username, mobile, plate_no, create_time, pre_id, pre_name
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_brand_applicant
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findBrandApplicant" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(*)
    from t_ent_brand_applicant
    where ent_id = #{entId,jdbcType=BIGINT}
    and mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_brand_applicant
    where 1 = 1
    <if test="entId!=null">  
    and ent_id = #{entId,jdbcType=BIGINT}
    </if>  
    <if test="preId!=null">  
    and pre_id = #{preId,jdbcType=BIGINT}
    </if>
    <if test="mobile!=null">  
    and mobile like #{mobile,jdbcType=VARCHAR}
    </if>  
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from t_ent_brand_applicant where 1 = 1
    <if test="entId!=null">  
    and ent_id = #{entId,jdbcType=BIGINT}
    </if>  
    <if test="userId!=null">  
    and user_id = #{userId,jdbcType=BIGINT}
    </if> 
    <if test="preId!=null">  
    and pre_id = #{preId,jdbcType=BIGINT}
    </if>
    <if test="mobile!=null">  
    and mobile like #{mobile,jdbcType=VARCHAR}
    </if>  
  </select>
</mapper>