<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.cluster.EntBrandStallClusterMapper">
  
  <resultMap id="ResResultMap" type="cn.linkmore.enterprise.response.ResBrandStall">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_pre_id" jdbcType="BIGINT" property="brandPreId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    
    <result column="bind_order_status" jdbcType="SMALLINT" property="bindOrderStatus" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
    <result column="stall_status" jdbcType="INTEGER" property="stallStatus" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, brand_pre_id, stall_id, stall_name, create_time, update_time, status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_brand_stall
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findByBrandPreId" parameterType="java.lang.Long" resultMap="ResResultMap">
    select t.*, v.lock_sn
    from t_ent_brand_stall t left join v_stall v on t.stall_id = v.id
    where brand_pre_id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="ResResultMap">
    select 
    s.bind_order_status,s.lock_status,s.status as stall_status ,s.lock_sn,s.stall_name,
    ebs.create_time, ebs.id
    from t_ent_brand_stall ebs left join v_stall s on ebs.stall_id= s.id
    where 1 = 1
    <if test="brandPreId!=null">  
   		 and ebs.brand_pre_id = #{brandPreId,jdbcType=BIGINT}
    </if>
    <if test="stallName!=null">  
   		 and s.stall_name like #{stallName,jdbcType=VARCHAR}
    </if>
    <if test="lockSn!=null">  
   		 and s.lock_sn like #{lockSn,jdbcType=VARCHAR}
    </if>
    <if test="stallStatus!=null">  
   		 and s.status = #{stallStatus,jdbcType=VARCHAR}
    </if>
    <if test="property==null">  
     order by ebs.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from t_ent_brand_stall ebs left join v_stall s on ebs.stall_id= s.id
    where 1 = 1
    <if test="brandPreId!=null">  
   		 and ebs.brand_pre_id = #{brandPreId,jdbcType=BIGINT}
    </if> 
    <if test="stallName!=null">  
   		 and s.stall_name = #{stallName,jdbcType=VARCHAR}
    </if>
    <if test="lockSn!=null">  
   		 and s.lock_sn like #{lockSn,jdbcType=VARCHAR}
    </if>
    <if test="stallStatus!=null">  
   		 and s.status = #{stallStatus,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="findByIds" parameterType="java.util.List" resultMap="ResResultMap">
    select  s.stall_id
    from t_ent_brand_stall s
    where id in
    <foreach collection="list" item="id" open="(" separator="," close=")"  >
       #{id}
    </foreach> 
  </select> 
  
</mapper>