<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.cluster.EntOperateAuthClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntOperateAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, ent_id, status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_operate_auth
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
  select count(1) from t_ent_operate_auth
  where 1 = 1
   <if test="name!=null">  
    and name = #{name}
    </if> 
    <if test="status!=null">  
    and status = #{status}
    </if> 
  </select>
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
   select <include refid="Base_Column_List"></include> from t_ent_operate_auth
  where 1 = 1
   <if test="name!=null">  
    and name = #{name}
    </if> 
    <if test="status!=null">  
    and status = #{status}
    </if> 
    <if test="property==null">  
     order by id desc
    </if>
     <if test="property!=null">  
     order by ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} 
  </select>
   <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
     eoa.id, eoa.name, eoa.ent_id, eoa.status
     FROM t_ent_operate_auth eoa LEFT JOIN t_ent_staff_auth esa ON  esa.auth_id = eoa.id
	 WHERE 1=1
	 <if test="staffId != null">
		AND esa.staff_id  = #{staffId}
	 </if>
	 <if test="status != null">
		AND eoa.status  = #{status}
	 </if>
    </select>
</mapper>