<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.cluster.EntRentUserClusterMapper">
  
  <resultMap id="ResResultMap" type="cn.linkmore.enterprise.response.ResEntRentUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_pre_id" jdbcType="BIGINT" property="entPreId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntRentUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_pre_id" jdbcType="BIGINT" property="entPreId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, ent_id, ent_pre_id, pre_id, mobile, realname, plate, stall_id, user_id,ent_name,pre_name,stall_name,start_time,end_time,type,company_id,company_name
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_rent_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByStallId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_rent_user
    where stall_id = #{stallId,jdbcType=BIGINT} order by id desc limit 0,1
  </select>
  <select id="findByIdEntPreId"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_rent_user
    where ent_pre_id = #{0}
  </select>
  <select id="findAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_rent_user
  </select>
 
  <select id="findPage" parameterType="java.util.HashMap" resultMap="ResResultMap">
    select t.*,v.status from
    t_ent_rent_user t left join v_stall v on t.stall_id = v.id 
    where  1 = 1
   	<if test="preName != null">
   		and pre_name like #{preName,jdbcType=VARCHAR}
   	</if>
   	<if test="entName != null">
   		and ent_name like #{entName,jdbcType=VARCHAR}
   	</if>
   	<if test="realname != null">
   		and realname like #{realname,jdbcType=VARCHAR}
   	</if>
   	<if test="mobile != null">
   		and mobile like #{mobile,jdbcType=VARCHAR}
   	</if>
  	<if test="property==null">  
    	order by id 
    </if>
    <if test="property!=null">  
   		order by  ${property} ${direction}
    </if>
	limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
   select count(1) from t_ent_rent_user where  1 = 1
    <if test="preName != null">
   		and pre_name like #{preName,jdbcType=VARCHAR}
   	</if>
   	<if test="entName != null">
   		and ent_name like #{entName,jdbcType=VARCHAR}
   	</if>
   	<if test="realname != null">
   		and realname like #{realname,jdbcType=VARCHAR}
   	</if>
   	<if test="mobile != null">
   		and mobile like #{mobile,jdbcType=VARCHAR}
   	</if>
  </select>
  
   <select id="check" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select count(1)
    from t_ent_rent_user
    where 
    ${property} = #{value}  
    and id != #{id} 
  </select>
  
  <select id="findUsedStall"  resultMap="ResResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_rent_user
    where 1 = 1 <![CDATA[ and end_time > now() ]]> and type = 0
  </select>
  
  
  <select id="findComUserList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ent_rent_user
    where 1 = 1 
    <if test="userId != null">
   		and user_id = #{userId}
   	</if>
    <if test="stallId != null">
   		and stall_id = #{stallId}
   	</if>
   	<if test="preId != null">
   		and pre_id = #{preId}
   	</if>
   	<if test="plate != null">
   		and plate = #{plate}
   	</if>
   	and company_id is not null
  </select>
  
  <select id="findRentComUserList" parameterType="java.util.HashMap"  resultMap="BaseResultMap" >
     SELECT
		o.pre_id,
		o.pre_name,
		o.stall_id,
		o.stall_name,
		o.plate,
		o.mobile,
		o.user_id,
		o.id as company_id,
		o.company_name,
		o.start_time,
		o.end_time
	FROM
		(
			(
				SELECT
					c.company_name,
	        c.id,
					c.start_time,
					c.end_time,
					c.pre_id,
					c.pre_name,
					cs.stall_id,
					cs.stall_name,
					cu.plate,
					u.mobile,
					u.id AS user_id
				FROM
					t_ent_rent_com c
				LEFT JOIN t_ent_rent_com_stall cs ON c.id = cs.rent_com_id
				LEFT JOIN t_ent_rent_com_user cu ON c.id = cu.rent_com_id
				LEFT JOIN v_vehicle_mark_manage m ON cu.plate = m.veh_mark
				LEFT JOIN t_user u ON u.id = m.veh_user_id
				WHERE
					cu.user_id IS NULL
				AND cu.plate IS NOT NULL
				AND cs.stall_id IS NOT NULL
			)
			UNION 
				(
					SELECT
						c.company_name,
						c.id,
						c.start_time,
						c.end_time,
						c.pre_id,
						c.pre_name,
						cs.stall_id,
						cs.stall_name,
						cu.plate,
						u.mobile,
						cu.user_id
					FROM
						t_ent_rent_com c
					LEFT JOIN t_ent_rent_com_stall cs ON c.id = cs.rent_com_id
					LEFT JOIN t_ent_rent_com_user cu ON c.id = cu.rent_com_id
					LEFT JOIN t_user u ON u.id = cu.user_id
					WHERE
						cu.user_id IS NOT NULL
				)
		) o where 1 = 1 and
     start_time <![CDATA[ < ]]> NOW()
     and 
     end_time <![CDATA[ > ]]>  NOW()
     <if test="userId != null">
    		and user_id = #{userId}
     </if>
  </select>
  
</mapper>