<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.AdminAuthCityClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.AdminAuthCity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auth_id, city_id
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_admin_auth_city
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
   select ci.auth_id , ci.city_id FROM t_admin_auth_city ci INNER JOIN (
		select auth_id,user_id FROM t_admin_user_auth  
		) users ON users.auth_id = ci.auth_id 
	<where>
		<if test="userId != null">
			AND users.user_id = #{userId}
		</if>
		<if test="cityId != null">
			AND ci.city_id = #{cityId}
		</if>
	</where>


	GROUP BY ci.city_id 
  </select>
  <select id="findStaffCitysByAdminId" parameterType="java.lang.Long" resultType="cn.linkmore.prefecture.response.ResStaffCity">
	SELECT
		c.id,
		c.auth_id authId,
		c.city_id cityId
	FROM
		t_admin_auth_city c
	INNER JOIN (
		SELECT
			auth_id
		FROM
			t_admin_user_auth
		WHERE
			user_id = #{adminId}
	) au ON au.auth_id = c.auth_id
	GROUP BY
	c.city_id

  </select>
</mapper>