<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.AdminUserPackClusterMapper">
   <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.AdminUserPack" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
    <sql id="Base_Column_List" >
    id, name, money, admin_name, admin_id, create_time, update_time, status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from t_admin_user_pack
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByAdminId" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT
      p.money,
      ll.sendTotal
    FROM
        t_admin_user_pack p ,
     (SELECT SUM(l.send_money) as sendTotal FROM t_admin_coupon_log l WHERE l.admin_id = #{adminId}) ll
    WHERE p.status = 1 AND p.admin_id = #{adminId}
  </select>
</mapper>