<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.master.BluetoothDataMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.BluetoothData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
    <result column="search" jdbcType="VARCHAR" property="search" />
    <result column="matching" jdbcType="VARCHAR" property="matching" />
    <result column="signaling" jdbcType="VARCHAR" property="signaling" />
    <result column="connect" jdbcType="VARCHAR" property="connect" />
    <result column="send" jdbcType="VARCHAR" property="send" />
    <result column="success" jdbcType="VARCHAR" property="success" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="disconnects" jdbcType="VARCHAR" property="disconnects" />
    <result column="disconnect" jdbcType="VARCHAR" property="disconnect" />
  </resultMap>
  
  <resultMap id="ResResultMap" type="cn.linkmore.prefecture.response.ResBluetoothData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
    <result column="search" jdbcType="VARCHAR" property="search" />
    <result column="matching" jdbcType="VARCHAR" property="matching" />
    <result column="signaling" jdbcType="VARCHAR" property="signaling" />
    <result column="connect" jdbcType="VARCHAR" property="connect" />
    <result column="send" jdbcType="VARCHAR" property="send" />
    <result column="success" jdbcType="VARCHAR" property="success" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="disconnects" jdbcType="VARCHAR" property="disconnects" />
    <result column="disconnect" jdbcType="VARCHAR" property="disconnect" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, lock_sn, search, matching, signaling, connect, send, success, count, create_time, 
    disconnects, disconnect
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bluetooth_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  
</mapper>