<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.PrefectureClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.Prefecture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="district_id" jdbcType="BIGINT" property="districtId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="route_guidance" jdbcType="VARCHAR" property="routeGuidance" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="stall_total" jdbcType="INTEGER" property="stallTotal" />
    <result column="sold_times" jdbcType="INTEGER" property="soldTimes" />
    <result column="date_contract" jdbcType="TIMESTAMP" property="dateContract" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="route_description" jdbcType="VARCHAR" property="routeDescription" />
    <result column="areas_id" jdbcType="BIGINT" property="areasId" />
    <result column="base_dict_id" jdbcType="BIGINT" property="baseDictId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="order_index" jdbcType="INTEGER" property="orderIndex" />
    <result column="leave_time" jdbcType="INTEGER" property="leaveTime" />
    <result column="charge_price" jdbcType="VARCHAR" property="chargePrice" />
    <result column="charge_time" jdbcType="INTEGER" property="chargeTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="limit_status" jdbcType="SMALLINT" property="limitStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, strategy_id, status, name, district_id, address, latitude, longitude, route_guidance, 
    image_url, stall_total, sold_times, date_contract, valid_time, create_time, update_time, 
    route_description, areas_id, base_dict_id, city_id, order_index, leave_time, charge_price, 
    charge_time, type, enterprise_id, category, limit_status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_prefecture
    where id = #{id,jdbcType=BIGINT}
  </select>
  
</mapper>