<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.PrefectureStrategyClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.PrefectureStrategy">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prefecture_id" jdbcType="BIGINT" property="prefectureId" />
    <result column="prefecture_name" jdbcType="VARCHAR" property="prefectureName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, prefecture_id, name, detail, create_user_id, create_user_name, create_time, update_user_id, 
    update_user_name, update_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_prefecture_strategy
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findPage" resultMap="BaseResultMap"   parameterType="java.util.HashMap" >
  	select 
	ps.id, ps.prefecture_id,pr.name as prefecture_name, ps.name, ps.detail, ps.create_user_id, ps.create_user_name, ps.create_time, ps.update_user_id, 
    ps.update_user_name, ps.update_time, ps.status
    
    from v_prefecture_strategy ps
    inner join v_prefecture pr on pr.id=ps.prefecture_id
    where 1 = 1
    <if test="createUserId != null">
       and ps.create_user_id = #{createUserId,jdbcType=BIGINT}
    </if>
    order by ps.update_time DESC
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from v_prefecture_strategy
    where 1= 1 
    <if test="createUserId != null">
       and create_user_id = #{createUserId,jdbcType=BIGINT}
    </if>
  </select>

</mapper>