<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.StallClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.Stall">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="gateway_id" jdbcType="BIGINT" property="gatewayId" />
    <result column="radar" jdbcType="VARCHAR" property="radar" />
    <result column="lock_id" jdbcType="BIGINT" property="lockId" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="stall_local" jdbcType="VARCHAR" property="stallLocal" />
    <result column="route_guidance" jdbcType="VARCHAR" property="routeGuidance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="lock_battery" jdbcType="INTEGER" property="lockBattery" />
    <result column="lock_voltage" jdbcType="DOUBLE" property="lockVoltage" />
    <result column="bind_order_status" jdbcType="SMALLINT" property="bindOrderStatus" />
  </resultMap>
  
  <resultMap id="ResponseResultMap" type="cn.linkmore.prefecture.response.ResStall">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, stall_name, sell_count, pre_id, gateway_id, radar, lock_id, lock_sn, lock_status, 
    status, stall_local, route_guidance, create_time, update_time, image_url, lock_battery, 
    lock_voltage, bind_order_status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_stall
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findCountByPreId" parameterType="java.lang.Long" resultType="java.lang.Integer">
  	select count(*) from v_stall where pre_id = #{preId}
  </select>
  
   <select id="findByStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from v_stall
    where status = #{status}
  </select>
  
  <select id="findByLockSn" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, stall_name, sell_count, pre_id, gateway_id, radar, lock_id, lock_sn, lock_status, 
    status, stall_local, route_guidance, create_time, update_time, image_url, lock_battery, lock_voltage
    from v_stall
    where lock_sn = #{lockSn,jdbcType=VARCHAR} limit 0,1
  </select>
  
  <select id="findStallsByPreId" parameterType="java.lang.Long" resultMap="ResponseResultMap">
  	select id,stall_name,lock_sn from v_stall where status in(1,2) and pre_id = #{preId}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" >
    select id, stall_name, sell_count, pre_id, lock_id, lock_sn, lock_status, 
    status, create_time, update_time, lock_voltage, bind_order_status
    from v_stall
  </select>
  
  <select id="findTreeList" resultMap="BaseResultMap" parameterType="java.util.List" >
  	select id, stall_name, pre_id
	from v_stall 
	where id in  
    <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
       #{id}
    </foreach>
  </select>
  
  <select id="findList" resultMap="ResponseResultMap" parameterType="java.util.HashMap" >
  	select id, stall_name, lock_sn
	from v_stall 
	where 1=1 
	<if test="name!=null">  
    and stall_name like #{name}
    </if> 
    <if test="status!=null">  
    and status = #{status}
    </if> 
    <if test="preId!=null">  
    and pre_id = #{preId}
    </if>
    <if test="property==null">  
    order by lock_voltage desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
  </select>
  
</mapper>