<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.StallOperateLogClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.StallOperateLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="source" jdbcType="SMALLINT" property="source" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="operation" jdbcType="SMALLINT" property="operation" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="remark_id" jdbcType="BIGINT" property="remarkId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <resultMap id="LogResultMap" type="cn.linkmore.prefecture.response.ResStallOperateLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="source" jdbcType="SMALLINT" property="source" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="operation" jdbcType="SMALLINT" property="operation" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operator_id, source, stall_id, operation, remark, remark_id, create_time, status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stall_operate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findByStallId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
	FROM t_stall_operate_log where stall_id = #{id} ORDER BY create_time DESC LIMIT 0,1
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select count(1) 
    from t_stall_operate_log
    where 1 = 1
    <if test="source!=null">  
    and source = #{source}
    </if> 
    <if test="operation!=null">  
    and operation = #{operation} 
    </if> 
    <if test="status!=null">  
    and status = #{status} 
    </if> 
    <if test="startTime!=null">
    and create_time &gt;= #{startTime} 
    </if> 
    <if test="endTime!=null">
    and create_time &lt;= #{endTime}
    </if> 
  </select>
  
  <select id="findPage" resultMap="LogResultMap"   parameterType="java.util.HashMap" >
	select o.id, o.operator_id, o.source, o.stall_id, o.operation, o.remark, o.create_time, 
	o.status,s.stall_name,u.realname as operator
	from t_stall_operate_log o 
	left join t_admin_user u on o.operator_id = u.id 
	left join v_stall s on o.stall_id = s.id 
	where 1=1 
    <if test="id!=null">  
    and o.id = #{id}
    </if> 
    <if test="source!=null">  
    and o.source = #{source}
    </if> 
    <if test="operation!=null">  
    and o.operation = #{operation} 
    </if> 
    <if test="status!=null">  
    and o.status = #{status} 
    </if> 
    <if test="startTime!=null">
    and o.create_time &gt;= #{startTime} 
    </if> 
    <if test="endTime!=null">
    and o.create_time &lt;= #{endTime}
    </if>
    <if test="property==null">  
    order by o.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start},#{pageSize}
  </select>
  
  <select id="findExportList" resultMap="LogResultMap"   parameterType="java.util.HashMap" >
	select o.id, o.operator_id, o.source, o.stall_id, o.operation, o.remark, o.create_time, 
	o.status,s.stall_name,u.realname as operator
	from t_stall_operate_log o 
	left join t_admin_user u on o.operator_id = u.id 
	left join v_stall s on o.stall_id = s.id 
	where 1=1 
    <if test="source!=null">  
    and o.source = #{source}
    </if> 
    <if test="operation!=null">  
    and o.operation = #{operation} 
    </if> 
    <if test="status!=null">  
    and o.status = #{status} 
    </if> 
    <if test="startTime!=null">
    and o.create_time &gt;= #{startTime} 
    </if> 
    <if test="endTime!=null">
    and o.create_time &lt;= #{endTime}
    </if>
    order by o.create_time desc
  </select>
</mapper>