<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.StrategyBaseClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.StrategyBase">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="begin_time" jdbcType="CHAR" property="beginTime" />
    <result column="free_mins" jdbcType="INTEGER" property="freeMins" />
    <result column="end_time" jdbcType="CHAR" property="endTime" />
    <result column="first_hour" jdbcType="DECIMAL" property="firstHour" />
    <result column="base_price" jdbcType="DECIMAL" property="basePrice" />
    <result column="night_price" jdbcType="DECIMAL" property="nightPrice" />
    <result column="timely_long" jdbcType="INTEGER" property="timelyLong" />
    <result column="night_timely_long" jdbcType="INTEGER" property="nightTimelyLong" />
    <result column="timely_unit" jdbcType="CHAR" property="timelyUnit" />
    <result column="top_daily" jdbcType="INTEGER" property="topDaily" />
    <result column="top_day" jdbcType="INTEGER" property="topDay" />
    <result column="top_night" jdbcType="INTEGER" property="topNight" />
    <result column="creator" jdbcType="CHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_prepaid_pay" jdbcType="INTEGER" property="isPrepaidPay" />
    <result column="flex_detail" jdbcType="VARCHAR" property="flexDetail" />
    <result column="is_flexed" jdbcType="INTEGER" property="isFlexed" />
    <result column="first_hour_long" jdbcType="INTEGER" property="firstHourLong" />
  </resultMap>
  
  <resultMap id="ResResultMap" type="cn.linkmore.prefecture.response.ResStrategyBase">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="begin_time" jdbcType="CHAR" property="beginTime" />
    <result column="free_mins" jdbcType="INTEGER" property="freeMins" />
    <result column="end_time" jdbcType="CHAR" property="endTime" />
    <result column="first_hour" jdbcType="DECIMAL" property="firstHour" />
    <result column="base_price" jdbcType="DECIMAL" property="basePrice" />
    <result column="night_price" jdbcType="DECIMAL" property="nightPrice" />
    <result column="timely_long" jdbcType="INTEGER" property="timelyLong" />
    <result column="night_timely_long" jdbcType="INTEGER" property="nightTimelyLong" />
    <result column="timely_unit" jdbcType="CHAR" property="timelyUnit" />
    <result column="top_daily" jdbcType="INTEGER" property="topDaily" />
    <result column="top_day" jdbcType="INTEGER" property="topDay" />
    <result column="top_night" jdbcType="INTEGER" property="topNight" />
    <result column="creator" jdbcType="CHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_prepaid_pay" jdbcType="INTEGER" property="isPrepaidPay" />
    <result column="flex_detail" jdbcType="VARCHAR" property="flexDetail" />
    <result column="is_flexed" jdbcType="INTEGER" property="isFlexed" />
    <result column="first_hour_long" jdbcType="INTEGER" property="firstHourLong" />
  </resultMap>
  
  <resultMap id="ResSelectResultMap" type="cn.linkmore.prefecture.response.ResFeeStrategy">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, type, name, begin_time, free_mins, end_time, first_hour, base_price, night_price, 
    timely_long, night_timely_long, timely_unit, top_daily, top_day, top_night, creator, 
    create_time, update_time, status, is_prepaid_pay, flex_detail, is_flexed, first_hour_long
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_strategy_base
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="ResResultMap"   parameterType="java.util.HashMap" >
  	select 
	<include refid="Base_Column_List" />
    from v_strategy_base
    where 1 = 1
    <if test="name!=null">  
    and name like #{name,jdbcType=VARCHAR}
    </if> 
    <if test="type!=null">  
    and type = #{type,jdbcType=INTEGER}
    </if> 
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="findList" resultMap="ResResultMap"   parameterType="java.util.HashMap" >
  	select 
	<include refid="Base_Column_List" />
    from v_strategy_base
    where 1 = 1 
    <if test="name!=null">  
    and name like #{name,jdbcType=VARCHAR}
    </if> 
    <if test="type!=null">  
    and type = #{type,jdbcType=INTEGER}
    </if> 
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if> 
   <!--  <if test="property==null">  
    order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>  -->
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from v_strategy_base
    where 1= 1
    <if test="name!=null">  
    and name like #{name,jdbcType=VARCHAR}
    </if> 
    <if test="type!=null">  
    and type = #{type,jdbcType=INTEGER}
    </if> 
  </select>
  <select id="check" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select count(1)
    from v_strategy_base
    where 
    ${property} = #{value}  
    and id != #{id} 
  </select>
  
  <select id="findSelectList" resultMap="ResSelectResultMap"   parameterType="java.util.HashMap" >
  	select id,name
    from v_strategy_base
    where 1 = 1 
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if> 
  </select>
  
</mapper>