<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.StrategyGroupDetailClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.StrategyGroupDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="strategy_group_id" jdbcType="BIGINT" property="strategyGroupId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="lock_sn" jdbcType="VARCHAR" property="lockSn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, strategy_group_id, stall_id, stall_name, area_id, area_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_strategy_group_detail
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		    d.id,
			d.stall_id,
			d.stall_name,
			d.strategy_group_id,
			d.area_id, 
			d.area_name,
			v.lock_sn
		FROM
			v_strategy_group_detail d
		LEFT JOIN v_stall v ON d.stall_id = v.id
		where 1 = 1
		and strategy_group_id =	#{strategyGroupId,jdbcType=BIGINT}
		order by area_name ASC,stall_name asc
 </select>
 
 <select id="findPreGroupDetailList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
			d.id,
			d.stall_id,
			d.stall_name,
			d.strategy_group_id,
			v.lock_sn
		FROM
			v_strategy_group_detail d
		LEFT JOIN v_stall v ON d.stall_id = v.id
		WHERE
			v.pre_id = #{preId,jdbcType=BIGINT}
		ORDER BY
			d.stall_name ASC
 </select>
 
 <select id="findByStallId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_strategy_group_detail
    where stall_id = #{stallId,jdbcType=BIGINT}
  </select>
 
</mapper>