<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.prefecture.dao.cluster.StrategyFeeClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.prefecture.entity.StrategyFee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="park_code" jdbcType="VARCHAR" property="parkCode" />
    <result column="park_name" jdbcType="VARCHAR" property="parkName" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, park_code, park_name, status
  </sql>
  
   <select id="findList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_strategy_fee
  </select>
  
</mapper>