<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.common.dao.cluster.CityClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.common.response.ResCity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="city_name" jdbcType="VARCHAR" property="name" />
    <result column="adcode" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city_name, adcode
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_city
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_city
    where adcode = #{code,jdbcType=VARCHAR}
  </select>
   
  <select id="findPage" resultMap="BaseResultMap"   parameterType="java.util.HashMap" >
  	select
	 <include refid="Base_Column_List" />
    from t_city
    where 1 = 1
    <if test="cityName!=null">  
    and city_name like #{cityName,jdbcType=VARCHAR}
    </if>  
    <if test="adcode!=null">  
    and adcode = #{adcode,jdbcType=VARCHAR}
    </if> 
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="findList" resultMap="BaseResultMap"   parameterType="java.util.HashMap" >
  	select
	<include refid="Base_Column_List" />
    from t_city 
    limit  #{start,jdbcType=INTEGER} 
    <if test="size!=null">  
    ,#{size,jdbcType=INTEGER}
    </if> 
  </select>
  
  <select id="count"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(1)
   	from t_city where 1=1 
    <if test="cityName!=null">  
    and city_name like #{cityName,jdbcType=VARCHAR}
    </if>  
    <if test="adcode!=null">  
    and adcode = #{adcode,jdbcType=VARCHAR}
    </if> 
  </select>
  
  <select id="exists"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(1)
    from t_city where   
    ${property} = #{value}  
    and id != #{id} 
  </select>
  
  
  exists
</mapper>