<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.common.dao.cluster.UnusualLogClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.common.entity.UnusualLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_version" jdbcType="VARCHAR" property="appVersion" />
    <result column="os_version" jdbcType="VARCHAR" property="osVersion" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="client_type" jdbcType="INTEGER" property="clientType" />
    <result column="system" jdbcType="INTEGER" property="system" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_version, os_version, model, client_type, level, brand,system,content,create_time
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_app_unusual_log
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="findPage" resultMap="BaseResultMap"   parameterType="java.util.HashMap" >
  	SELECT
		log.*,content.content
	FROM
		t_app_unusual_log log
	INNER JOIN t_app_unusual_log_content content ON log.id = content.log_id
    <if test="system != null">  
    	and system = #{system,jdbcType=INTEGER}
    	<if test="system == 1">
    		or system is null
    	</if>
    </if>
    <if test="appVersion != null">
    	AND app_version like CONCAT('%',#{appVersion},'%')
    </if> 
    <if test="startTime != null and startTime != ''">
    	AND DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{startTime},'%Y-%m-%d')
    </if> 
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   SELECT
		count(1)
	FROM
		t_app_unusual_log log
	INNER JOIN t_app_unusual_log_content content ON log.id = content.log_id
  	<if test="system != null">  
    	and system = #{system,jdbcType=INTEGER}
    	<if test="system == 1">
    		or system is null
    	</if>
    </if>
    <if test="appVersion != null">
    	AND app_version like CONCAT('%',#{appVersion},'%')
    </if> 
    <if test="startTime != null and startTime != ''">
    	AND DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{startTime},'%Y-%m-%d')
    </if> 
  </select>
</mapper>