<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.common.dao.cluster.UserVersionClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.common.entity.UserVersion">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="client" jdbcType="SMALLINT" property="client" />
    <result column="system" jdbcType="INTEGER" property="system" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="os_version" jdbcType="VARCHAR" property="osVersion" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, client, model, os_version, uuid, version, commit_time,system
  </sql>
   <sql id="Ops_Column_List">
    uv.user_id, uv.client, uv.model, uv.os_version, uv.uuid, uv.version, uv.commit_time,u.mobile username
  </sql>
  <select id="findById" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_version
    where user_id = #{userId,jdbcType=BIGINT}
    <if test="system != null">
    	<choose>
    		<when test="system == 1">
    			AND (system = #{system} OR system is null)
    		</when>
    		<otherwise>
    			AND system = #{system}
    		</otherwise>
    	</choose>
    </if>
  </select>
  <select id="findByTypeAnStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_version
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
   <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Ops_Column_List" />
    from t_user_version uv left join t_user u on uv.user_id = u.id
    where 1 = 1  
   	<if test="username!=null">  
   	and u.mobile = #{username,jdbcType=VARCHAR}
    </if> 
    <if test="client!=null">  
   	and uv.client = #{client,jdbcType=SMALLINT}
    </if> 
    <if test="property==null">  
     order by uv.commit_time desc
    </if>
    <if test="property!=null">  
    order by  uv.${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from t_user_version uv left join t_user u on uv.user_id = u.id
    where 1= 1 
    <if test="username!=null">  
   	and u.mobile = #{username,jdbcType=VARCHAR}
    </if> 
    <if test="client!=null">  
   	and uv.client = #{client,jdbcType=SMALLINT}
    </if>   
  </select>
</mapper>