<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.cluster.CommonClusterMapper">
  <select id="selectList" parameterType="cn.linkmore.account.entity.Common" resultType="java.util.Map">
    select 
	${columns}
    from ${table}
    where 1 = 1 
    <if test="sql != '' and sql != null">
    	   ${sql}
    </if>
    <if test="orderBy != '' and orderBy != null">
    	order By ${orderBy}
    </if>
    <if test="isLimit == true">
    	limit #{pageStart},#{pageSize}
    </if>
  </select>
  <select id="count" parameterType="cn.linkmore.account.entity.Common" resultType="java.lang.Integer">
    select 
		${column}
    from ${table}
    where 1 = 1 
         <if test="sql != '' and sql != null">
    	   ${sql}
    </if>
  </select>
</mapper>