<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.cluster.EnterpriseUserClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.EnterpriseUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, mobile, plate_no, create_time, update_time, status, enterprise_id
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_biz_enterprise_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_biz_enterprise_user
    where user_id = #{userId,jdbcType=LONG}
  </select>
</mapper>