<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.cluster.UserClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="ent_admin_name" jdbcType="VARCHAR" property="entAdminName" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="hobby_brand_id" jdbcType="BIGINT" property="hobbyBrandId" />
    <result column="is_app_register" jdbcType="SMALLINT" property="isAppRegister" />
    <result column="is_wechat_bind" jdbcType="SMALLINT" property="isWechatBind" />
    <result column="app_register_time" jdbcType="TIMESTAMP" property="appRegisterTime" />
    <result column="wechat_bind_time" jdbcType="TIMESTAMP" property="wechatBindTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="complete_order_count" jdbcType="INTEGER" property="completeOrderCount" />
  </resultMap>
  <resultMap id="ResBaseResultMap" type="cn.linkmore.account.response.ResUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="ent_admin_name" jdbcType="VARCHAR" property="entAdminName" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="hobby_brand_id" jdbcType="BIGINT" property="hobbyBrandId" />
    <result column="is_app_register" jdbcType="SMALLINT" property="isAppRegister" />
    <result column="is_wechat_bind" jdbcType="SMALLINT" property="isWechatBind" />
    <result column="app_register_time" jdbcType="TIMESTAMP" property="appRegisterTime" />
    <result column="wechat_bind_time" jdbcType="TIMESTAMP" property="wechatBindTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="complete_order_count" jdbcType="INTEGER" property="completeOrderCount" />
    <result column="fans_status" jdbcType="SMALLINT" property="fansStatus" />
  </resultMap>
  <resultMap id="ListUserMap" type="cn.linkmore.account.response.ResPageUser" > 
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="nickName" property="nickName" />
    <result column="mobile" property="mobile" />
    <result column="cityName" property="cityName" />
    <result column="orderCount" property="orderCount" />
    <result column="loginTime" property="loginTime" />
    <result column="ordersTime" property="ordersTime" />
    <result column="userStatus" property="userStatus" />
    <result column="plateNo" property="plateNo" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, username, password, nickname, sex, status, user_type, enterprise_name, ent_admin_name, 
    industry, parent_id, mobile, province, city, address, email, wechat, qq, icon, last_login_time, 
    create_time, update_time, hobby_brand_id, is_app_register, is_wechat_bind, app_register_time, 
    wechat_bind_time, type, login_count, order_count, complete_order_count,realname,fans_status
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="ResBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findResUserById" parameterType="java.lang.Long" resultType="cn.linkmore.account.response.ResUserDetails">
    select id, username, password, nickname, status, user_type, enterprise_name, ent_admin_name, sex,
    industry, parent_id, mobile, province, city, address, email, wechat, qq, icon, last_login_time, 
    create_time, update_time, hobby_brand_id, is_app_register, is_wechat_bind, app_register_time, 
    wechat_bind_time,type,realname
    from  t_user where id = #{userId}
  </select>
  <select id="findByMobile" parameterType="java.lang.String" resultMap="ResBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where username = #{mobile}
  </select>
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="ListUserMap">
    SELECT
    u.realname,u.id,u.nickname nickName,u.mobile,cy.city_name cityName,u.order_count orderCount,u.last_login_time loginTime,o.create_time ordersTime,u.status userStatus,o.plate_no plateNO
    FROM
        t_user u
    LEFT JOIN (
        SELECT
            c.*
        FROM
            o_orders c,
            (
                SELECT
                    a.user_id uid,
                    max(a.create_time) maxtime
                FROM
                    o_orders a
                GROUP BY
                    uid
            ) b
        WHERE
            c.user_id = b.uid
        AND c.create_time = b.maxtime
    ) o ON u.id = o.user_id
    LEFT JOIN v_prefecture p ON o.pre_id = p.id 
    LEFT JOIN t_city cy ON p.city_id = cy.id
    where 1 = 1 
    <if test="ordersCount!=null">  
    and u.order_count = #{ordersCount}
    </if>
    <if test="nature ==1 ">  
    and u.app_register_time is not null and u.wechat_bind_time is not null
    </if>
    <if test="nature ==2 ">  
    and u.status = 4
    </if>
    
    <if test="nickname!=null">  
    and nickname like #{nickname,jdbcType=VARCHAR}
    </if> 
    <if test="mobile!=null">  
    and mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="status!=null">  
    and status = #{status,jdbcType=VARCHAR}
    </if> 
    <if test="plateNo!=null">  
    and o.plate_no= #{plateNo,jdbcType=VARCHAR}
    </if>  
    <if test="property==null">  
    order by u.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
  SELECT count(1)
    FROM
        t_user u
    LEFT JOIN (
        SELECT
            c.*
        FROM
            o_orders c,
            (
                SELECT
                    a.user_id uid,
                    max(a.create_time) maxtime
                FROM
                    o_orders a
                GROUP BY
                    uid
            ) b
        WHERE
            c.user_id = b.uid
        AND c.create_time = b.maxtime
    ) o ON u.id = o.user_id
    LEFT JOIN v_prefecture p ON o.pre_id = p.id 
    LEFT JOIN t_city cy ON p.city_id = cy.id
    where u.user_type = 1
    <if test="ordersCount!=null">  
    and u.order_count = #{ordersCount}
    </if>
    <if test="nature ==1 ">  
    and u.app_register_time is not null and u.wechat_bind_time is not null
    </if>
    <if test="nature ==2 ">  
    and u.status = 4
    </if>
    <if test="nickname!=null">  
    and nickname like #{nickname,jdbcType=VARCHAR}
    </if> 
    <if test="mobile!=null">  
    and mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="status!=null">  
    and status = #{status,jdbcType=VARCHAR}
    </if> 
    <if test="plateNo!=null">  
    and o.plate_no= #{plateNo,jdbcType=VARCHAR}
    </if>  
  </select>
  <select id="export" parameterType="java.util.HashMap" resultMap="ListUserMap">
    SELECT
    u.id,u.nickname nickName,u.mobile,cy.city_name cityName,u.order_count orderCount,u.last_login_time loginTime,o.create_time ordersTime,u.status userStatus,o.plate_no plateNO
    FROM
        t_user u
    LEFT JOIN (
        SELECT
            c.*
        FROM
            o_orders c,
            (
                SELECT
                    a.user_id uid,
                    max(a.create_time) maxtime
                FROM
                    o_orders a
                GROUP BY
                    uid
            ) b
        WHERE
            c.user_id = b.uid
        AND c.create_time = b.maxtime
    ) o ON u.id = o.user_id
    LEFT JOIN v_prefecture p ON o.pre_id = p.id 
    LEFT JOIN t_city cy ON p.city_id = cy.id
    where u.user_type = 1
    <if test="ordersCount!=null">  
    and u.order_count = #{ordersCount}
    </if>
    <if test="nature ==1 ">  
    and u.app_register_time is not null and u.wechat_bind_time is not null
    </if>
    <if test="nature ==2 ">  
    and u.status = 4
    </if>
    
    <if test="nickname!=null">  
    and nickname like #{nickname,jdbcType=VARCHAR}
    </if> 
    <if test="mobile!=null">  
    and mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="status!=null">  
    and status = #{status,jdbcType=VARCHAR}
    </if> 
    <if test="plateNo!=null">  
    and o.plate_no= #{plateNo,jdbcType=VARCHAR}
    </if>  
    <if test="property==null">  
    order by u.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
  </select>
  
  <select id="getUserByUserName" resultMap="ResBaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List"/> from t_user u where 1 = 1
  	and  u.username = #{userName}
  </select>
  <select id="findAll" resultMap="ResBaseResultMap">
  	select <include refid="Base_Column_List"/> from t_user 
  </select>
  <select id="findListByMobile" resultMap="ResBaseResultMap" parameterType="java.util.List">
  	select <include refid="Base_Column_List"/> from t_user u where
   <foreach collection="list"  index="index" item="mobile" open="(" separator="," close=")"  >
	  	and  u.username = #{mobile}
   </foreach>
  </select>
  <select id="findByIds" resultMap="ResBaseResultMap" parameterType="java.util.List">
  	select <include refid="Base_Column_List"/> from t_user u where u.id in
    <foreach collection="list"  index="index" item="id" open="(" separator="," close=")" >
    	 #{id}
    </foreach>
  </select>
  
  
</mapper>