<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.account.dao.cluster.VehicleMarkManageClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.account.entity.VehicleMarkManage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="veh_user_id" jdbcType="VARCHAR" property="vehUserId" />
    <result column="veh_mark" jdbcType="VARCHAR" property="vehMark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="ResBaseResultMap" type="cn.linkmore.account.response.ResVechicleMark">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="veh_user_id" jdbcType="VARCHAR" property="userId" />
    <result column="veh_mark" jdbcType="VARCHAR" property="vehMark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, veh_user_id, veh_mark, create_time, update_time
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="ResBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_vehicle_mark_manage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByUserId" parameterType="java.lang.Long"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_vehicle_mark_manage
    where veh_user_id = #{userId}
  </select>
  <select id="findResList" parameterType="java.lang.Long" resultType="cn.linkmore.account.response.ResVechicleMark">
    select 
   		veh_mark vehMark ,id,veh_user_id userId
    from v_vehicle_mark_manage
    where veh_user_id = #{userId}
  </select>
</mapper>