<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.master.OrdersMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="stall_image" jdbcType="VARCHAR" property="stallImage" />
    <result column="stall_local" jdbcType="VARCHAR" property="stallLocal" />
    <result column="stall_guidance" jdbcType="VARCHAR" property="stallGuidance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, pre_id, stall_id, order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no, stall_image, stall_local, stall_guidance, 
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from o_orders
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save"  useGeneratedKeys="true" keyProperty="id"  parameterType="cn.linkmore.order.entity.Orders">
    insert into o_orders (id, user_id, pre_id, 
      stall_id, order_no, pay_type, 
      total_amount, actual_amount, status, 
      begin_time, username, end_time, 
      plate_no, stall_image, stall_local, 
      stall_guidance, create_time, update_time, 
      dock_id, status_history, user_type, 
      status_time, lock_down_time, lock_down_status
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{preId,jdbcType=BIGINT}, 
      #{stallId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, 
      #{totalAmount,jdbcType=DECIMAL}, #{actualAmount,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, 
      #{plateNo,jdbcType=VARCHAR}, #{stallImage,jdbcType=VARCHAR}, #{stallLocal,jdbcType=VARCHAR}, 
      #{stallGuidance,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{dockId,jdbcType=VARCHAR}, #{statusHistory,jdbcType=SMALLINT}, #{userType,jdbcType=SMALLINT}, 
      #{statusTime,jdbcType=TIMESTAMP}, #{lockDownTime,jdbcType=TIMESTAMP}, #{lockDownStatus,jdbcType=SMALLINT}
      )
  </insert>
  
  <update id="update" parameterType="cn.linkmore.order.entity.Orders">
    update o_orders
    set user_id = #{userId,jdbcType=BIGINT},
      pre_id = #{preId,jdbcType=BIGINT},
      stall_id = #{stallId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      plate_no = #{plateNo,jdbcType=VARCHAR},
      stall_image = #{stallImage,jdbcType=VARCHAR},
      stall_local = #{stallLocal,jdbcType=VARCHAR},
      stall_guidance = #{stallGuidance,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dock_id = #{dockId,jdbcType=VARCHAR},
      status_history = #{statusHistory,jdbcType=SMALLINT},
      user_type = #{userType,jdbcType=SMALLINT},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      lock_down_time = #{lockDownTime,jdbcType=TIMESTAMP},
      lock_down_status = #{lockDownStatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateLockStatus" parameterType="java.util.HashMap">
    update o_orders
    set  
      lock_down_time = #{lockDownTime,jdbcType=TIMESTAMP},
      lock_down_status = #{lockDownStatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>