<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.master.OrdersDetailMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.OrdersDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ord_no" jdbcType="VARCHAR" property="ordNo" />
    <result column="ord_detail_no" jdbcType="VARCHAR" property="ordDetailNo" />
    <result column="ord_name" jdbcType="VARCHAR" property="ordName" />
    <result column="park_name" jdbcType="VARCHAR" property="parkName" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="coupons_id" jdbcType="BIGINT" property="couponsId" />
    <result column="coupons_money" jdbcType="DECIMAL" property="couponsMoney" />
    <result column="day_time" jdbcType="INTEGER" property="dayTime" />
    <result column="day_fee" jdbcType="DECIMAL" property="dayFee" />
    <result column="night_time" jdbcType="INTEGER" property="nightTime" />
    <result column="night_fee" jdbcType="DECIMAL" property="nightFee" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" /> 
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ord_no, ord_detail_no, ord_name, park_name, stall_name, latitude, longitude, 
    trade_id, strategy_id, account_id, coupons_id, coupons_money, day_time, day_fee, 
    night_time, night_fee, begin_time, end_time, description, create_time, update_time, 
    order_id
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from o_orders_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save"  useGeneratedKeys="true" keyProperty="id"  parameterType="cn.linkmore.order.entity.OrdersDetail">
    insert into o_orders_detail (id, ord_no, ord_detail_no, 
      ord_name, park_name, stall_name, 
      latitude, longitude, trade_id, 
      strategy_id, account_id, coupons_id, 
      coupons_money, day_time, day_fee, 
      night_time, night_fee, begin_time, 
      end_time, description, create_time, 
      update_time , order_id
      )
    values (#{id,jdbcType=BIGINT}, #{ordNo,jdbcType=VARCHAR}, #{ordDetailNo,jdbcType=VARCHAR}, 
      #{ordName,jdbcType=VARCHAR}, #{parkName,jdbcType=VARCHAR}, #{stallName,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{tradeId,jdbcType=BIGINT}, 
      #{strategyId,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{couponsId,jdbcType=BIGINT}, 
      #{couponsMoney,jdbcType=DECIMAL}, #{dayTime,jdbcType=INTEGER}, #{dayFee,jdbcType=DECIMAL}, 
      #{nightTime,jdbcType=INTEGER}, #{nightFee,jdbcType=DECIMAL}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP} , #{orderId,jdbcType=BIGINT}
      )
  </insert>
  
  <update id="update" parameterType="cn.linkmore.order.entity.OrdersDetail">
    update o_orders_detail
    set ord_no = #{ordNo,jdbcType=VARCHAR},
      ord_detail_no = #{ordDetailNo,jdbcType=VARCHAR},
      ord_name = #{ordName,jdbcType=VARCHAR},
      park_name = #{parkName,jdbcType=VARCHAR},
      stall_name = #{stallName,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      trade_id = #{tradeId,jdbcType=BIGINT},
      strategy_id = #{strategyId,jdbcType=BIGINT},
      account_id = #{accountId,jdbcType=BIGINT},
      coupons_id = #{couponsId,jdbcType=BIGINT},
      coupons_money = #{couponsMoney,jdbcType=DECIMAL},
      day_time = #{dayTime,jdbcType=INTEGER},
      day_fee = #{dayFee,jdbcType=DECIMAL},
      night_time = #{nightTime,jdbcType=INTEGER},
      night_fee = #{nightFee,jdbcType=DECIMAL},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      park_principal = #{parkPrincipal,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <update id="updateT" parameterType="java.util.HashMap">
    update o_orders_detail
    set
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where ord_no = #{ordNo,jdbcType=VARCHAR}
  </update>
  
   <insert id="savelog" parameterType="cn.linkmore.order.response.ResOrderOperateLog" >
    insert into t_order_operate_log (id, order_id, operator_id,
      source, stall_id, operation, 
      remark, create_time, status, 
      remark_id)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT}, 
      #{source,jdbcType=SMALLINT}, #{stallId,jdbcType=BIGINT}, #{operation,jdbcType=SMALLINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{remarkId,jdbcType=BIGINT})
  </insert>
  
</mapper>