<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.master.WalletDetailMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.WalletDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="source" jdbcType="SMALLINT" property="source" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, amount, source, type, create_time, account_amount
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_acc_wallet_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.order.entity.WalletDetail">
    insert into t_acc_wallet_detail (id, account_id, amount, 
      source, type, create_time, 
      account_amount)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, 
      #{source,jdbcType=SMALLINT}, #{type,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{accountAmount,jdbcType=DECIMAL})
  </insert>
  <update id="update" parameterType="cn.linkmore.order.entity.WalletDetail">
    update t_acc_wallet_detail
    set account_id = #{accountId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      source = #{source,jdbcType=SMALLINT},
      type = #{type,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      account_amount = #{accountAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>