<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.cluster.OrdersDetailClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.OrdersDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ord_no" jdbcType="VARCHAR" property="ordNo" />
    <result column="ord_detail_no" jdbcType="VARCHAR" property="ordDetailNo" />
    <result column="ord_name" jdbcType="VARCHAR" property="ordName" />
    <result column="park_name" jdbcType="VARCHAR" property="parkName" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="coupons_id" jdbcType="BIGINT" property="couponsId" />
    <result column="coupons_money" jdbcType="DECIMAL" property="couponsMoney" />
    <result column="day_time" jdbcType="INTEGER" property="dayTime" />
    <result column="day_fee" jdbcType="DECIMAL" property="dayFee" />
    <result column="night_time" jdbcType="INTEGER" property="nightTime" />
    <result column="night_fee" jdbcType="DECIMAL" property="nightFee" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" /> 
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ord_no, ord_detail_no, ord_name, park_name, stall_name, latitude, longitude, 
    trade_id, strategy_id, account_id, coupons_id, coupons_money, day_time, day_fee, 
    night_time, night_fee, begin_time, end_time, description, create_time, update_time, order_id
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_orders_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_orders_detail
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
</mapper>