<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.cluster.OrdersClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" /> 
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="stall_image" jdbcType="VARCHAR" property="stallImage" />
    <result column="stall_local" jdbcType="VARCHAR" property="stallLocal" />
    <result column="stall_guidance" jdbcType="VARCHAR" property="stallGuidance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
    <result column="switch_time" jdbcType="TIMESTAMP" property="switchTime" />
    <result column="switch_status" jdbcType="SMALLINT" property="switchStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" /> 
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
  </resultMap>
  
  <resultMap id="ResResultMap" type="cn.linkmore.order.response.ResUserOrder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" /> 
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" /> 
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
    <result column="switch_time" jdbcType="TIMESTAMP" property="switchTime" />
    <result column="switch_status" jdbcType="SMALLINT" property="switchStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" /> 
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />  
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_id, pre_id,pre_name, stall_id,stall_name, order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no, stall_image, stall_local, stall_guidance, 
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status,switch_status,switch_time,strategy_id,coupon_id,coupon_amount,pay_time
  </sql>
  <sql id="Res_Column_List">
    id, user_id, pre_id,pre_name, stall_id, stall_name,order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no,
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status,switch_status,switch_time,strategy_id,pay_time,coupon_amount
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findUserLatest" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} order by id desc  limit 0,1
  </select>
  
  <select id="findUserList" parameterType="java.util.Map" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} 
    and status = 3 
    order by id desc   
    limit #{start,jdbcType=BIGINT},10
  </select>
  
   <select id="findStallLatest" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where stall_id = #{stallId,jdbcType=BIGINT} order by id desc  limit 0,1
  </select>
  <select id="findDetail" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="userCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(1) 
    from o_orders
    where  user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="getPlateLastOrderStatus" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select status
    from o_orders
    where  plate_no = #{carno,jdbcType=VARCHAR}
    order by create_time desc 
    limit 0,1
  </select>
</mapper>