<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.cluster.OrdersClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" /> 
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="stall_image" jdbcType="VARCHAR" property="stallImage" />
    <result column="stall_local" jdbcType="VARCHAR" property="stallLocal" />
    <result column="stall_guidance" jdbcType="VARCHAR" property="stallGuidance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
    <result column="switch_time" jdbcType="TIMESTAMP" property="switchTime" />
    <result column="switch_status" jdbcType="SMALLINT" property="switchStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" /> 
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
  </resultMap>
  <resultMap id="ExcelResultMap" type="cn.linkmore.order.response.ResOrderExcel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="prefecture_name" jdbcType="VARCHAR" property="prefectureName" />
    <result column="lock_down_status" property="lockDownStatus" jdbcType="SMALLINT" />
    <result column="lock_down_time" property="lockDownTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResResultMap" type="cn.linkmore.order.response.ResUserOrder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" /> 
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" /> 
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
    <result column="switch_time" jdbcType="TIMESTAMP" property="switchTime" />
    <result column="switch_status" jdbcType="SMALLINT" property="switchStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" /> 
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />  
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="stall_type" jdbcType="SMALLINT" property="stallType" />
  </resultMap>
   <resultMap id="OpsResultMap" type="cn.linkmore.order.response.ResOrderOps">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="prefecture_name" jdbcType="VARCHAR" property="prefectureName" />
    <result column="lock_down_status" property="lockDownStatus" jdbcType="SMALLINT" />
    <result column="lock_down_time" property="lockDownTime" jdbcType="TIMESTAMP" />
    <result column="status_history" jdbcType="INTEGER" property="statusHistory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, pre_id,pre_name, stall_id,stall_name, order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no, stall_image, stall_local, stall_guidance, 
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status,switch_status,switch_time,strategy_id,coupon_id,coupon_amount,pay_time,trade_id,ent_id,brand_id
  </sql>
  <sql id="Res_Column_List">
    id, user_id, pre_id,pre_name, stall_id, stall_name,order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no,
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status,switch_status,switch_time,strategy_id,pay_time,coupon_amount,coupon_id,trade_id,stall_type,ent_id,brand_id
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findUserLatest" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} order by id desc  limit 0,1
  </select>
  
  <select id="findUserList" parameterType="java.util.Map" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} 
    and status = 3 
    order by id desc   
    limit #{start,jdbcType=BIGINT},10
  </select>
  
   <select id="findStallLatest" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where stall_id = #{stallId,jdbcType=BIGINT} order by id desc  limit 0,1
  </select>
  <select id="findDetail" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="userCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(1) 
    from o_orders
    where  user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="getPlateLastOrderStatus" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select status
    from o_orders
    where  plate_no = #{carno,jdbcType=VARCHAR}
    order by create_time desc 
    limit 0,1
  </select>
  <sql id="Ops_Column_List">
    o.id, o.user_id, o.pre_id, o.stall_id, o.order_no, o.pay_type, o.total_amount, o.actual_amount, o.status, 
    o.begin_time, o.username, o.end_time, o.plate_no, o.create_time, o.update_time, o.dock_id,
    p.name prefecture_name,s.stall_name ,status_time,o.lock_down_status,o.lock_down_time
  </sql>
  <select id="findPage" parameterType="java.util.HashMap" resultMap="OpsResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 
    <if test="code!=null">  
    and o.order_no = #{code,jdbcType=VARCHAR}
    </if> 
    <if test="username!=null">  
    and o.username = #{username,jdbcType=VARCHAR}
    </if> 
    <if test="plateNo!=null">  
    and o.plate_no = #{plateNo,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and o.pre_id = #{preId,jdbcType=VARCHAR}
    </if>
     <if test="stallId!=null">  
    and o.stall_id = #{stallId,jdbcType=VARCHAR}
    </if> 
   	<if test="startTime!=null">  
    <![CDATA[and o.create_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if> 
    <if test="endTime!=null">  
    <![CDATA[ and o.create_time < #{endTime,jdbcType=VARCHAR}]]>
    </if>   
    <if test="property==null">  
     order by o.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from o_orders  o
    where 1 = 1 
    <if test="code!=null">  
    and o.order_no = #{code,jdbcType=VARCHAR}
    </if> 
    <if test="username!=null">  
    and o.username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="plateNo!=null">  
    and o.plate_no = #{plateNo,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and o.pre_id = #{preId,jdbcType=VARCHAR}
    </if>
     <if test="stallId!=null">  
    and o.stall_id = #{stallId,jdbcType=VARCHAR}
    </if> 
   	<if test="startTime!=null">  
    <![CDATA[and o.create_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if> 
    <if test="endTime!=null">  
    <![CDATA[ and o.create_time < #{endTime,jdbcType=VARCHAR}]]>
    </if>   
  </select>
   
  <select id="exportList" parameterType="cn.linkmore.order.request.ReqOrderExcel" resultMap="ExcelResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 
    <if test="code!=null">  
    and o.code = #{code,jdbcType=VARCHAR}
    </if> 
    <if test="username!=null">  
    and o.username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="plateNo!=null">  
    and o.plate_no = #{plateNo,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and o.pre_id = #{preId,jdbcType=VARCHAR}
    </if>
     <if test="stallId!=null">  
    and o.stall_id = #{stallId,jdbcType=VARCHAR}
    </if> 
   	<if test="startTime!=null">  
    <![CDATA[and o.create_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if> 
    <if test="endTime!=null">  
    <![CDATA[ and o.create_time < #{endTime,jdbcType=VARCHAR}]]>
    </if>   
     order by o.create_time desc 
  </select>
  
  
  <select id="appointmentTimeoutList" resultMap="OpsResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 and o.lock_down_status is null and o.status = 1 and
    <![CDATA[ DATE_ADD(o.create_time,INTERVAL 30 minute) <= now()]]>
  </select>
  
  <select id="lockDownTimeoutList" resultMap="OpsResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 and o.lock_down_status is not null and o.status = 1 and
    <![CDATA[ DATE_ADD(o.lock_down_time,INTERVAL 4 HOUR) <= now()]]>
  </select>
  
  <select id="unreleaseCloseOrders" resultMap="OpsResultMap">
    select 
    oo.id, oo.user_id, oo.pre_id, oo.stall_id, oo.order_no, oo.pay_type, oo.total_amount, oo.actual_amount, oo.status, 
    oo.begin_time, oo.username, oo.end_time, oo.plate_no, oo.create_time, oo.update_time, oo.dock_id,oo.status_history,
    po.name prefecture_name,po.stall_name, oo.status_time,oo.lock_down_status,oo.lock_down_time
    from o_orders oo INNER JOIN 
	(select max(o.id) oid,v.id vid,v.stall_name,v.status vstatus,pre.name 
	from o_orders o inner join v_stall v on o.stall_id = v.id 
	INNER JOIN v_prefecture pre on o.pre_id = pre.id 
	where v.status = 2 group by v.id) po on oo.id = po.oid
	and oo.status_history=2 and oo.status_time is not null
  </select>
  
  <select id="unreleaseHangOrders" resultMap="OpsResultMap">
    select 
    oo.id, oo.user_id, oo.pre_id, oo.stall_id, oo.order_no, oo.pay_type, oo.total_amount, oo.actual_amount, oo.status, 
    oo.begin_time, oo.username, oo.end_time, oo.plate_no, oo.create_time, oo.update_time, oo.dock_id,oo.status_history,
    po.name prefecture_name,po.stall_name, oo.status_time,oo.lock_down_status,oo.lock_down_time
    from o_orders oo INNER JOIN 
	(select max(o.id) oid,v.id vid,v.stall_name,v.status vstatus,pre.name 
	from o_orders o inner join v_stall v on o.stall_id = v.id 
	INNER JOIN v_prefecture pre on o.pre_id = pre.id 
	where v.status = 2 group by v.id) po on oo.id = po.oid
	and oo.status_history=1 and oo.status_time is not null
  </select>
  
  <select id="unreleaseCompleteOrders" resultMap="OpsResultMap">
    select 
    oo.id, oo.user_id, oo.pre_id, oo.stall_id, oo.order_no, oo.pay_type, oo.total_amount, oo.actual_amount, oo.status, 
    oo.begin_time, oo.username, oo.end_time, oo.plate_no, oo.create_time, oo.update_time, oo.dock_id,oo.status_history,
    po.name prefecture_name,po.stall_name, oo.status_time,oo.lock_down_status,oo.lock_down_time
    from o_orders oo INNER JOIN 
	(select max(o.id) oid,v.id vid,v.stall_name,v.status vstatus,pre.name 
	from o_orders o inner join v_stall v on o.stall_id = v.id 
	INNER JOIN v_prefecture pre on o.pre_id = pre.id 
	where v.status = 2 group by v.id) po on oo.id = po.oid
	and oo.status_history=0 and oo.status=3
  </select>
  <select id="findPreCountByIds" parameterType="java.lang.Long" resultType="cn.linkmore.order.response.ResPreOrderCount">
  select o.pre_id preId,o.pre_name preName,	IFNULL(sum(de.dayAmount),0.0) dayAmount,IFNULL(de.dayOrder,0) dayOrder from o_orders o
	LEFT JOIN (
	SELECT
			pre_id pre_id,
			actual_amount dayAmount,
			count(1) dayOrder
		FROM
			o_orders
		WHERE
			 status = 3 AND DATE_FORMAT(NOW(),'%Y-%m-%d') = end_time and pre_id in
			  <foreach collection="list"  index="index" item="id" open="(" separator="," close=")" >
	    		 #{id}
	    	</foreach>
	) de on de.pre_id = o.pre_id 
	where
	o.pre_id in 
		 <foreach collection="list"  index="index" item="id" open="(" separator="," close=")" >
    		 #{id}
    	</foreach>
	GROUP BY o.pre_id
  
<!--    SELECT
		pre_id preId,
		pre_name preName,
		sum(actual_amount) dayAmount,
		count(1) dayOrder
	FROM
		o_orders
	WHERE
		 status = 3 AND DATE_FORMAT(NOW(),'%Y-%m-%d') = end_time and pre_id in 
	GROUP BY pre_id
		 -->
  </select>
  <select id="findPreDayIncome" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   SELECT
		IFNULL(sum(actual_amount),0.0) dayAmount
	FROM
		o_orders
	WHERE
		 status = 3 
		 	AND date_format(end_time,'%Y-%m-%d') = date_format(#{startTime},'%Y-%m-%d')
		 and pre_id = #{id}
  </select>
  <select id="findProceedsAmount" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   SELECT
		IFNULL(sum(actual_amount),0.0) dayAmount
	FROM
		o_orders
	WHERE
		 status = 3  AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d') and pre_id = #{id}
  </select>
  <select id="findTrafficFlow" parameterType="java.util.HashMap" resultType="java.lang.Integer">
   SELECT
		count(1)
	FROM
		o_orders
	<where>
		status = 3 
		<if test="startTime != null">
		 AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		and pre_id = #{preId}
	</where>
  </select>
  <select id="findProceeds" parameterType="java.util.HashMap" resultType="java.math.BigDecimal">
   SELECT
		sum(actual_amount)
	FROM
		o_orders
	<where>
		status = 3 
		<if test="startTime != null">
		 AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		and pre_id = #{preId}
	</where>
  </select>
  <select id="findChargeDetail" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResChargeDetail">
   SELECT
	plate_no plateNo,begin_time startTime,actual_amount orderAmount,end_time endTime,DATE_FORMAT(end_time,'%m') month
	FROM
		o_orders
	<where>
	    1 = 1
		and status = 3 
		and pre_id = #{preId}
		AND date_format(end_time,'%Y-%m-%d') = date_format(#{startTime},'%Y-%m-%d')
	</where>
	order by end_time desc
	limit #{start},#{pageSize}
  </select>
  <select id="findTrafficFlowList" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResTrafficFlowList">
    SELECT
		end_time date,count(1) carDayTotal,DATE_FORMAT(end_time,'%m') month
		FROM
			o_orders
		WHERE
		status = 3 
		and pre_id = #{preId}
		<!--  <![CDATA[ and #{monthStart} <= end_time]]>
		 <![CDATA[ AND #{monthEnd} > end_time]]> -->
	GROUP BY DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC
	limit #{start},#{pageSize}
	
  </select>
  <select id="findTrafficFlowCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    SELECT
		count(1)
	FROM
		o_orders
	WHERE
		 status = 3  AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d') and pre_id = #{id}
  </select>
  <select id="findIncomeList" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResIncomeList">
	SELECT end_time date,actual_amount dayAmount,DATE_FORMAT(end_time,'%m') month FROM o_orders 	where	status = 3 
	and pre_id = #{preId}
	<!--  <![CDATA[ and #{monthStart} <= end_time]]>
	 <![CDATA[ AND #{monthEnd} > end_time]]> -->
	GROUP BY DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC
	limit #{start},#{pageSize}
  </select>
  <select id="findMonthCount" parameterType="java.util.Map" resultType="cn.linkmore.order.controller.app.response.ResMonthCount">
 	select DATE_FORMAT(end_time,'%m') month,SUM(actual_amount) monthAmount,COUNT(1) monthCarCount
	 FROM o_orders 	where	status = 3 
	GROUP BY DATE_FORMAT(end_time,'%Y-%m')
	ORDER BY end_time DESC	
  </select>
  <select id="findMonthCountByDate" parameterType="java.util.Map" resultType="cn.linkmore.order.controller.app.response.ResMonthCount">
 	select DATE_FORMAT(end_time,'%m') month,ifnull(SUM(actual_amount),0.0) monthAmount,COUNT(1) monthCarCount
	 FROM o_orders 	where	status = 3 
	 and pre_id = #{preId}
	 AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
	ORDER BY end_time DESC	
  </select>
  <select id="findPreDataList" parameterType="java.util.Map" resultType="cn.linkmore.order.response.ResPreDataList">
 	SELECT
		sum(actual_amount) dayAmount,
		count(1) dayNumber,
		DATE_FORMAT(end_time, '%Y-%m-%d') dayTime
	FROM
		o_orders
	WHERE
	status = 3 
		<if test="startTime != null">
		 AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		AND pre_id = #{preId}
	GROUP BY
		DATE_FORMAT(end_time, '%Y-%m-%d')
	ORDER BY end_time desc
	<!-- limit #{start},#{pageSize} -->
  </select>
  <select id="findPlateByPreId" parameterType="java.lang.Long" resultType="cn.linkmore.order.response.ResOrderPlate">
 	<!-- SELECT plate_no plateNo,stall_id stallId,stall_name stallName FROM o_orders WHERE pre_id = #{preId} AND status = 2
 --> 
 	
	SELECT ord.plate_no plateNo,ord.stall_id stallId,ord.stall_name stallName FROM v_stall sta INNER JOIN o_orders ord ON sta.id = ord.stall_id  WHERE sta.pre_id = #{preId} AND sta.status = 2 GROUP BY sta.id ORDER BY ord.id DESC
  </select>
 
   	
  <select id="findOrderByStallId" parameterType="java.lang.Long" resultType="cn.linkmore.order.response.ResEntOrder">
 	SELECT 
 		id orderId ,order_no orderNo,begin_time beginTime , end_time endTime,lock_down_time lockDownTime
 	FROM 
 		o_orders 
 	WHERE 
 		stall_id = #{stallId}
 	order by begin_time desc 
 	limit 0,1
  </select>
  
</mapper>