<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.cluster.OrdersClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" /> 
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="stall_image" jdbcType="VARCHAR" property="stallImage" />
    <result column="stall_local" jdbcType="VARCHAR" property="stallLocal" />
    <result column="stall_guidance" jdbcType="VARCHAR" property="stallGuidance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
    <result column="switch_time" jdbcType="TIMESTAMP" property="switchTime" />
    <result column="switch_status" jdbcType="SMALLINT" property="switchStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" /> 
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
  </resultMap>
  <resultMap id="ExcelResultMap" type="cn.linkmore.order.response.ResOrderExcel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="prefecture_name" jdbcType="VARCHAR" property="prefectureName" />
    <result column="lock_down_status" property="lockDownStatus" jdbcType="SMALLINT" />
    <result column="lock_down_time" property="lockDownTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResResultMap" type="cn.linkmore.order.response.ResUserOrder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" /> 
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" /> 
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="status_history" jdbcType="SMALLINT" property="statusHistory" />
    <result column="user_type" jdbcType="SMALLINT" property="userType" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="lock_down_time" jdbcType="TIMESTAMP" property="lockDownTime" />
    <result column="lock_down_status" jdbcType="SMALLINT" property="lockDownStatus" />
    <result column="switch_time" jdbcType="TIMESTAMP" property="switchTime" />
    <result column="switch_status" jdbcType="SMALLINT" property="switchStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" /> 
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />  
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="stall_type" jdbcType="SMALLINT" property="stallType" />
    <result column="order_source" jdbcType="SMALLINT" property="orderSource" />
  </resultMap>
   <resultMap id="OpsResultMap" type="cn.linkmore.order.response.ResOrderOps">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dock_id" jdbcType="VARCHAR" property="dockId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="prefecture_name" jdbcType="VARCHAR" property="prefectureName" />
    <result column="lock_down_status" property="lockDownStatus" jdbcType="SMALLINT" />
    <result column="lock_down_time" property="lockDownTime" jdbcType="TIMESTAMP" />
    <result column="status_history" jdbcType="INTEGER" property="statusHistory" />
    
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, pre_id,pre_name, stall_id,stall_name, order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no, stall_image, stall_local, stall_guidance, 
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status,switch_status,switch_time,strategy_id,coupon_id,coupon_amount,pay_time,trade_id,ent_id,brand_id
  </sql>
  <sql id="Res_Column_List">
    id, user_id, pre_id,pre_name, stall_id, stall_name,order_no, pay_type, total_amount, actual_amount, status, 
    begin_time, username, end_time, plate_no,
    create_time, update_time, dock_id, status_history, user_type, status_time, lock_down_time, 
    lock_down_status,switch_status,switch_time,strategy_id,pay_time,coupon_amount,coupon_id,trade_id,
    stall_type,ent_id,brand_id,order_source
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findTempStallReportForms" parameterType="cn.linkmore.enterprise.request.ReqPreDetails" resultType="cn.linkmore.order.response.ResTempStallReportForms">
 	select 
 	ord1.startTime,
	ord1.orderNumber,
	CONCAT(ROUND((ord1.orderNumber-ord2.orderNumber)*100/if(ord2.orderNumber = 0 or ord1.orderNumber = 0,1,ord2.orderNumber),2),"%") orderNumberPercent,
	ord1.orderIncome,
	CONCAT(ROUND((ord1.orderIncome-ord2.orderIncome)*100/if(ord2.orderIncome = 0 or ord1.orderIncome=0,1,ord2.orderIncome),2),"%") orderIncomePercent,
	ord1.orderAdvanceIncome,
	CONCAT(ROUND((ord1.orderAdvanceIncome-ord2.orderAdvanceIncome)*100/if(ord2.orderAdvanceIncome= 0 or ord1.orderAdvanceIncome = 0 ,1,ord2.orderAdvanceIncome),2),"%") orderAdvanceIncomePercent,
	ord1.orderScanIncome,
	CONCAT(ROUND((ord1.orderScanIncome - ord2.orderScanIncome)*100/if(ord2.orderScanIncome or ord1.orderScanIncome =0,1,ord2.orderScanIncome),2),"%") orderScanIncomePercent,
	ord1.orderShareIncome,
	CONCAT(ifnull(ROUND((ord1.orderShareIncome-ord2.orderShareIncome)*100/if(ord2.orderShareIncome=0 or ord2.orderShareIncome=0 ,1,ord2.orderShareIncome),2),0.00),"%") orderShareIncomePercent, 
	ord1.orderUseDuration,

	ord1.orderAdvancePercent orderAdvanceNumber,
	ord1.orderScanPercent orderScanNumber,
	ord1.orderSharePercent orderShareNumber,
	ord1.onceStallUserTime onceStallUserTime,
	
	CONCAT(ifnull(ROUND((ord1.orderAdvancePercent-ord2.orderAdvancePercent)*100/if(ord2.orderAdvancePercent=0 or ord2.orderAdvancePercent=0 ,1,ord2.orderAdvancePercent),2),0.00),"%") orderAdvancePercent, 
	CONCAT(ifnull(ROUND((ord1.orderScanPercent-ord2.orderScanPercent)*100/if(ord2.orderScanPercent=0 or ord2.orderScanPercent=0 ,1,ord2.orderScanPercent),2),0.00),"%") orderScanPercent, 
	CONCAT(ifnull(ROUND((ord1.orderSharePercent-ord2.orderSharePercent)*100/if(ord2.orderSharePercent=0 or ord2.orderSharePercent=0 ,1,ord2.orderSharePercent),2),0.00),"%") orderSharePercent, 
	
	CONCAT(ROUND((ord1.orderUseDuration-ord2.orderUseDuration)*100/if(ord2.orderUseDuration = 0 OR ord1.orderUseDuration=0,1,ord2.orderUseDuration),2),"%") orderUseDurationPercent
	from(
	select
	min(begin_time) startTime,
	ifnull(pre_id,#{preId}) pre_id,
	count(id) orderNumber,
	ifnull(SUM(actual_amount),0) orderIncome,
	ifnull(SUM(if(order_source = 1,actual_amount,0)),0) orderAdvanceIncome,
	ifnull(SUM(if(order_source = 2,actual_amount,0)),0)orderScanIncome,
	ifnull(SUM(if(order_source = 3,actual_amount,0)),0) orderShareIncome,
	count(if(order_source=1 ,1,null)) orderAdvancePercent,
	count(if(order_source=2 ,1,null)) orderScanPercent,
	count(if(order_source=3 ,1,null)) orderSharePercent,
	ROUND(sum((
		UNIX_TIMESTAMP(
			if(end_time > DATE_FORMAT(#{endTime},'%Y-%m-%d'),
				 date_add(DATE_FORMAT(#{endTime},'%Y-%m-%d'), interval 1 day),end_time
	    ))
		-UNIX_TIMESTAMP(begin_time))/3600
	)/#{stallCount}/if(datediff(end_time,begin_time)=0,1,datediff(end_time,begin_time)),2)  orderUseDuration,
		ROUND(sum((
		UNIX_TIMESTAMP(
			if(end_time > DATE_FORMAT(#{endTime},'%Y-%m-%d'),
				 date_add(DATE_FORMAT(#{endTime},'%Y-%m-%d'), interval 1 day),end_time
	    ))
		-UNIX_TIMESTAMP(begin_time))/3600
	)/count(id),2) onceStallUserTime
	from o_orders where pre_id = #{preId} AND `status` = 3
	<if test="type == 0">
			AND DATE_FORMAT(begin_time,'%Y-%m-%d') = DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		<if test="type != 0">
	 		and <![CDATA[ DATE_FORMAT(#{startTime},'%Y-%m-%d')<= DATE_FORMAT(begin_time,'%Y-%m-%d') ]]>
		and <![CDATA[DATE_FORMAT(#{endTime},'%Y-%m-%d') >= DATE_FORMAT(begin_time,'%Y-%m-%d')]]>
		</if>
	 <if test="stallIds != null ">
		and stall_id in
		 <foreach collection="stallIds"  index="index" item="stallId" open="(" separator="," close=")"  >
		 	#{stallId} 
	  	 </foreach>
	</if>
	<if test="stallIds == null ">
		AND stall_id = 0
	</if>
	)ord1 
	INNER JOIN 
	(select 
	ifnull(pre_id,#{preId}) pre_id,
	count(id) orderNumber,
	ifnull(SUM(actual_amount),0) orderIncome,
	ifnull(SUM(if(order_source = 1,actual_amount,0)),0) orderAdvanceIncome,
	ifnull(SUM(if(order_source = 2,actual_amount,0)),0)orderScanIncome,
	ifnull(SUM(if(order_source = 3,actual_amount,0)),0) orderShareIncome,
	count(if(order_source=1 ,1,null)) orderAdvancePercent,
	count(if(order_source=2 ,1,null)) orderScanPercent,
	count(if(order_source=3 ,1,null)) orderSharePercent,
	ifnull(ROUND(sum(TIMESTAMPDIFF(MINUTE,
		(DATE_FORMAT(begin_time,'%Y-%m-%d %H:%i')),
		(DATE_FORMAT(end_time, '%Y-%m-%d %H:%i'))
		)/60)/(TIMESTAMPDIFF(DAY  ,
		(DATE_FORMAT(#{contrastStartTime}, '%Y-%m-%d')),  
		(DATE_FORMAT(#{contrastEndTime},'%Y-%m-%d'))
		)+1)/#{contrastStallCount},2),0) orderUseDuration 
	from o_orders where pre_id = #{preId} AND `status` = 3
	<if test="type == 0">
			AND DATE_FORMAT(begin_time,'%Y-%m-%d') = DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		<if test="type != 0">
 			 		and <![CDATA[ DATE_FORMAT(#{startTime},'%Y-%m-%d')<= DATE_FORMAT(begin_time,'%Y-%m-%d') ]]>
			and <![CDATA[DATE_FORMAT(#{endTime},'%Y-%m-%d') >= DATE_FORMAT(begin_time,'%Y-%m-%d')]]>
		</if>
	 <if test="contrastStallIds != null ">
		and stall_id in
		 <foreach collection="contrastStallIds"  index="index" item="stallId" open="(" separator="," close=")"  >
		 	#{stallId} 
	  	 </foreach>
	</if>
	 <if test="contrastStallIds == null ">
		and stall_id = 0
	</if>
	)ord2 ON ord1.pre_id = ord2.pre_id 
		
  </select>
  <select id="findUserLatest" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} order by id desc  limit 0,1
  </select>
  
  <select id="findUserList" parameterType="java.util.Map" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} 
    and status in ('3','4','7')
    order by id desc   
    limit #{start,jdbcType=BIGINT},10
  </select>
  
  <select id="findFinishedUserList" parameterType="java.util.Map" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} 
    and status = 3
    order by id desc   
    limit #{start,jdbcType=BIGINT},10
  </select>
  
   <select id="findStallLatest" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where stall_id = #{stallId,jdbcType=BIGINT} order by id desc  limit 0,1
  </select>
  <select id="findDetail" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="userCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(1) 
    from o_orders
    where  user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="getPlateLastOrderStatus" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select status
    from o_orders
    where  plate_no = #{carno,jdbcType=VARCHAR}
    order by create_time desc 
    limit 0,1
  </select>
  <sql id="Ops_Column_List">
    o.id, o.user_id, o.pre_id, o.stall_id, o.order_no, o.pay_type, o.total_amount, o.actual_amount, o.status, 
    o.begin_time, o.username, o.end_time, o.plate_no, o.create_time, o.update_time, o.dock_id,
    p.name prefecture_name,s.stall_name ,status_time,o.lock_down_status,o.lock_down_time,o.create_user_name
  </sql>
  <select id="findPage" parameterType="java.util.HashMap" resultMap="OpsResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 
    <if test="code!=null">  
    and o.order_no = #{code,jdbcType=VARCHAR}
    </if> 
    <if test="username!=null">  
    and o.username = #{username,jdbcType=VARCHAR}
    </if> 
    <if test="plateNo!=null">  
    and o.plate_no = #{plateNo,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and o.pre_id = #{preId,jdbcType=VARCHAR}
    </if>
     <if test="stallId!=null">  
    and o.stall_id = #{stallId,jdbcType=VARCHAR}
    </if> 
    <if test="createUserId!=null">  
    and o.create_user_id = #{createUserId,jdbcType=BIGINT}
    </if>
   	<if test="startTime!=null">  
    <![CDATA[and o.create_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if> 
    <if test="endTime!=null">  
    <![CDATA[ and o.create_time < #{endTime,jdbcType=VARCHAR}]]>
    </if>   
    <if test="property==null">  
     order by o.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select  count(1)
    from o_orders  o
    where 1 = 1 
    <if test="code!=null">  
    and o.order_no = #{code,jdbcType=VARCHAR}
    </if> 
    <if test="username!=null">  
    and o.username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="plateNo!=null">  
    and o.plate_no = #{plateNo,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and o.pre_id = #{preId,jdbcType=VARCHAR}
    </if>
     <if test="stallId!=null">  
    and o.stall_id = #{stallId,jdbcType=VARCHAR}
    </if> 
    <if test="createUserId!=null">  
    and o.create_user_id = #{createUserId,jdbcType=BIGINT}
    </if>
   	<if test="startTime!=null">  
    <![CDATA[and o.create_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if> 
    <if test="endTime!=null">  
    <![CDATA[ and o.create_time < #{endTime,jdbcType=VARCHAR}]]>
    </if>   
  </select>
   
  <select id="exportList" parameterType="cn.linkmore.order.request.ReqOrderExcel" resultMap="ExcelResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 
    <if test="code!=null">  
    and o.code = #{code,jdbcType=VARCHAR}
    </if> 
    <if test="username!=null">  
    and o.username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="plateNo!=null">  
    and o.plate_no = #{plateNo,jdbcType=VARCHAR}
    </if> 
    <if test="preId!=null">  
    and o.pre_id = #{preId,jdbcType=VARCHAR}
    </if>
     <if test="stallId!=null">  
    and o.stall_id = #{stallId,jdbcType=VARCHAR}
    </if> 
   	<if test="startTime!=null">  
    <![CDATA[and o.create_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if> 
    <if test="endTime!=null">  
    <![CDATA[ and o.create_time < #{endTime,jdbcType=VARCHAR}]]>
    </if>   
     order by o.create_time desc 
  </select>
  
  
  <select id="appointmentTimeoutList" resultMap="OpsResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 and o.lock_down_status is null and o.status = 1 and
    <![CDATA[ DATE_ADD(o.create_time,INTERVAL 30 minute) <= now()]]>
  </select>
  
  <select id="lockDownTimeoutList" resultMap="OpsResultMap">
    select 
    <include refid="Ops_Column_List" />
    from o_orders o left join v_stall s on o.stall_id = s.id left join v_prefecture p on o.pre_id = p.id
    where 1 = 1 and o.lock_down_status is not null and o.status = 1 and
    <![CDATA[ DATE_ADD(o.lock_down_time,INTERVAL 4 HOUR) <= now()]]>
  </select>
  
  <select id="unreleaseCloseOrders" resultMap="OpsResultMap">
    select 
    oo.id, oo.user_id, oo.pre_id, oo.stall_id, oo.order_no, oo.pay_type, oo.total_amount, oo.actual_amount, oo.status, 
    oo.begin_time, oo.username, oo.end_time, oo.plate_no, oo.create_time, oo.update_time, oo.dock_id,oo.status_history,
    po.name prefecture_name,po.stall_name, oo.status_time,oo.lock_down_status,oo.lock_down_time
    from o_orders oo INNER JOIN 
	(select max(o.id) oid,v.id vid,v.stall_name,v.status vstatus,pre.name 
	from o_orders o inner join v_stall v on o.stall_id = v.id 
	INNER JOIN v_prefecture pre on o.pre_id = pre.id 
	where v.status = 2 group by v.id) po on oo.id = po.oid
	and oo.status_history=2 and oo.status_time is not null
  </select>
  
  <select id="unreleaseHangOrders" resultMap="OpsResultMap">
    select 
    oo.id, oo.user_id, oo.pre_id, oo.stall_id, oo.order_no, oo.pay_type, oo.total_amount, oo.actual_amount, oo.status, 
    oo.begin_time, oo.username, oo.end_time, oo.plate_no, oo.create_time, oo.update_time, oo.dock_id,oo.status_history,
    po.name prefecture_name,po.stall_name, oo.status_time,oo.lock_down_status,oo.lock_down_time
    from o_orders oo INNER JOIN 
	(select max(o.id) oid,v.id vid,v.stall_name,v.status vstatus,pre.name 
	from o_orders o inner join v_stall v on o.stall_id = v.id 
	INNER JOIN v_prefecture pre on o.pre_id = pre.id 
	where v.status = 2 group by v.id) po on oo.id = po.oid
	and oo.status_history=1 and oo.status_time is not null
  </select>
  
  <select id="unreleaseCompleteOrders" resultMap="OpsResultMap">
    select 
    oo.id, oo.user_id, oo.pre_id, oo.stall_id, oo.order_no, oo.pay_type, oo.total_amount, oo.actual_amount, oo.status, 
    oo.begin_time, oo.username, oo.end_time, oo.plate_no, oo.create_time, oo.update_time, oo.dock_id,oo.status_history,
    po.name prefecture_name,po.stall_name, oo.status_time,oo.lock_down_status,oo.lock_down_time
    from o_orders oo INNER JOIN 
	(select max(o.id) oid,v.id vid,v.stall_name,v.status vstatus,pre.name 
	from o_orders o inner join v_stall v on o.stall_id = v.id 
	INNER JOIN v_prefecture pre on o.pre_id = pre.id 
	where v.status = 2 group by v.id) po on oo.id = po.oid
	and oo.status_history=0 and oo.status=3
  </select>
  <select id="findPreCountByIds" parameterType="java.lang.Long" resultType="cn.linkmore.order.response.ResPreOrderCount">
 
select o.pre_id preId,p.name preName,	IFNULL(de.dayAmount,0.0) dayAmount,IFNULL(de.dayOrder,0) dayOrder from o_orders o
	LEFT JOIN (
	SELECT
			pre_id pre_id,
			sum(actual_amount) dayAmount,
			count(1) dayOrder
		FROM
			o_orders
		WHERE
			 status = 3 AND DATE_FORMAT(NOW(),'%Y-%m-%d') = DATE_FORMAT(end_time,'%Y-%m-%d') and pre_id in
			  <foreach collection="list"  index="index" item="id" open="(" separator="," close=")" >
	    		 #{id}
	    	</foreach>
	    	GROUP BY pre_id
	) de on de.pre_id = o.pre_id 
	LEFT JOIN v_prefecture p ON p.id = o.pre_id
	where
	o.pre_id in 
		 <foreach collection="list"  index="index" item="id" open="(" separator="," close=")" >
    		 #{id}
    	</foreach>
	GROUP BY o.pre_id
  
<!--    SELECT
		pre_id preId,
		pre_name preName,
		sum(actual_amount) dayAmount,
		count(1) dayOrder
	FROM
		o_orders
	WHERE
		 status = 3 AND DATE_FORMAT(NOW(),'%Y-%m-%d') = end_time and pre_id in 
	GROUP BY pre_id
		 -->
  </select>
  <select id="findStaffPreListCount" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResPreOrderCount">
 
	SELECT
		o.stall_id stallId,
		o.pre_id preId,
		o.pre_name preName,
		IFNULL(o.actual_amount, 0.0) dayAmount
	FROM
		o_orders o

	<where>
	 STATUS = 3
		AND DATE_FORMAT(NOW(), '%Y-%m-%d') = DATE_FORMAT(end_time, '%Y-%m-%d')
	<if test="stallIds !=null">
		AND o.stall_id IN
		  <foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
	    		 #{id}
	    	</foreach>
	</if>
	<if test="preIds != null">
		AND o.pre_id IN
	  <foreach collection="preIds"  index="index" item="id" open="(" separator="," close=")" >
    		 #{id}
    	</foreach>
	</if>
	</where>
  </select>
  <select id="findPreDayIncome" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   SELECT
		IFNULL(sum(actual_amount),0.0) dayAmount
	FROM
		o_orders
	WHERE
		 status = 3 
		 	AND date_format(end_time,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
		 and pre_id = #{preId}
  </select>
  <select id="findStaffDayIncome" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   SELECT
		IFNULL(sum(actual_amount),0.0) dayAmount
	FROM
		o_orders
	WHERE
		 status = 3 
		 	AND date_format(end_time,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
		 and stall_id in
		 <foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
	    		 #{id}
	    	</foreach>
  </select>
  <select id="findProceedsAmount" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   SELECT
		IFNULL(sum(actual_amount),0.0) dayAmount
	FROM
		o_orders
	WHERE
		 status = 3  AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d') and pre_id = #{preId}
  </select>
  <select id="findStaffAmountReportCount" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   SELECT
		IFNULL(sum(actual_amount),0.0) dayAmount
	FROM
		o_orders
	WHERE
		 status = 3  AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d') 
		 
		 <if test="stallIds != null">
			 and stall_id in
			<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
    		 #{id}
	    	</foreach>
		 </if>
		 <if test="preId != null">
		 	AND pre_id = #{preId}
		 </if>
  </select>
  <select id="findStaffCarReportCount" parameterType="java.util.Map" resultType="java.lang.Integer">
   SELECT
		IFNULL(count(1),0)
	FROM
		o_orders
	WHERE
		 status = 3  AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d') 
		 <if test="stallIds != null">
			 and stall_id in
			<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
    		 #{id}
	    	</foreach>
		 </if>
		 <if test="preId != null">
			 AND pre_id = #{preId}
		 </if>
  </select>
  <select id="findTrafficFlow" parameterType="java.util.HashMap" resultType="java.lang.Integer">
   SELECT
		count(1)
	FROM
		o_orders
	<where>
		status = 3 
		<if test="startTime != null">
		 AND date_format(end_time,'%Y-%m-%d') >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		and pre_id = #{preId}
	</where>
  </select>
  <select id="findProceeds" parameterType="java.util.HashMap" resultType="java.math.BigDecimal">
   SELECT
		sum(actual_amount)
	FROM
		o_orders
	<where>
		status = 3 
		<if test="startTime != null">
		 AND date_format(end_time,'%Y-%m-%d') >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		and pre_id = #{preId}
	</where>
  </select>
  <select id="findChargeDetail" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResChargeDetail">
   SELECT
	plate_no plateNo,begin_time startTime,actual_amount orderAmount,end_time endTime,DATE_FORMAT(end_time,'%m') month
	FROM
		o_orders
	<where>
	    1 = 1
		and status = 3 
		and pre_id = #{preId}
		AND date_format(end_time,'%Y-%m-%d') = date_format(#{startTime},'%Y-%m-%d')
	</where>
	order by end_time desc
	limit #{start},#{pageSize}
  </select>
  <select id="findStaffAmountDetail" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResChargeDetail">
   SELECT
	plate_no plateNo,begin_time startTime,actual_amount orderAmount,end_time endTime,DATE_FORMAT(end_time,'%m') month
	FROM
		o_orders
	<where>
	    1 = 1
		and status = 3 
		<if test="preId != null">
			and pre_id = #{preId}
		</if>
		<if test="stallIds != null">
			and stall_id in
			<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
	    		 #{id}
	    	</foreach>
		</if>
		AND date_format(end_time,'%Y-%m-%d') = date_format(#{startTime},'%Y-%m-%d')
		AND actual_amount != 0
	</where>
	order by end_time desc
	limit #{start},#{pageSize}
  </select>
  <select id="findTrafficFlowList" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResTrafficFlowList">
    SELECT
		DATE_FORMAT(end_time,'%Y-%m-%d')  date,count(1) carDayTotal,DATE_FORMAT(end_time,'%m') month
		FROM
			o_orders
		WHERE
		status = 3 
		and pre_id = #{preId}
		and DATE_FORMAT(end_time,'%Y-%m-%d') in
		<foreach collection="dates"  index="index" item="date" open="(" separator="," close=")" >
	    		 DATE_FORMAT(#{date},'%Y-%m-%d')
	    	</foreach>
		<!--  <![CDATA[ and #{monthStart} <= end_time]]>
		 <![CDATA[ AND #{monthEnd} > end_time]]> -->
	GROUP BY DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC
  </select>
  <select id="findStaffCarMonthList" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResTrafficFlowList">
    SELECT
		DATE_FORMAT(end_time,'%Y-%m-%d')  date,count(1) carDayTotal,DATE_FORMAT(end_time,'%m') month
		FROM
			o_orders
		WHERE
		status = 3 
		<if test="preId != null">
			and pre_id = #{preId}
		</if>
		<if test="stallIds != null">
		AND stall_id in
	<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
   		#{id}
   	</foreach>
	</if>
	AND  <![CDATA[  DATE_FORMAT(#{startTime},'%Y-%m-%d') <= DATE_FORMAT(end_time,'%Y-%m-%d')]]>
	AND <![CDATA[ DATE_FORMAT(#{endTime},'%Y-%m-%d') >= DATE_FORMAT(end_time,'%Y-%m-%d')]]>
	GROUP BY DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC
  </select>
  <select id="findTrafficFlowCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    SELECT
		count(1)
	FROM
		o_orders
	WHERE
		 status = 3  AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d') and pre_id = #{preId}
  </select>
  <select id="findIncomeList" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResIncomeList">
	SELECT DATE_FORMAT(end_time,'%Y-%m-%d') date,sum(actual_amount) dayAmount,DATE_FORMAT(end_time,'%m') month FROM o_orders 	where	status = 3 
	and pre_id = #{preId}
	<!--  <![CDATA[ and #{monthStart} <= end_time]]>
	 <![CDATA[ AND #{monthEnd} > end_time]]> -->
	 and DATE_FORMAT(end_time,'%Y-%m-%d') in
		<foreach collection="dates"  index="index" item="date" open="(" separator="," close=")" >
	    		 DATE_FORMAT(#{date},'%Y-%m-%d')
	    	</foreach>
	GROUP BY DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC
  </select>
  <select id="findStaffAmountMonthList" parameterType="java.util.HashMap" resultType="cn.linkmore.order.response.ResIncomeList">
	SELECT DATE_FORMAT(end_time,'%Y-%m-%d') date,sum(actual_amount) dayAmount,DATE_FORMAT(end_time,'%m') month FROM o_orders 	
	where	status = 3 
	<if test="preId != null">
		and pre_id =#{preId}
	</if>
	<if test="stallIds != null">
		AND stall_id in
	<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
   		#{id}
   	</foreach>
	</if>
	AND  <![CDATA[  DATE_FORMAT(#{startTime},'%Y-%m-%d') <= DATE_FORMAT(end_time,'%Y-%m-%d')]]>
	AND <![CDATA[ DATE_FORMAT(#{endTime},'%Y-%m-%d') >= DATE_FORMAT(end_time,'%Y-%m-%d')]]>
	GROUP BY DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC
  </select>
  <select id="findMonthCount" parameterType="java.util.Map" resultType="cn.linkmore.order.controller.app.response.ResMonthCount">
 	select DATE_FORMAT(end_time,'%m') month,SUM(actual_amount) monthAmount,COUNT(1) monthCarCount
	 FROM o_orders 	where	status = 3 
	GROUP BY DATE_FORMAT(end_time,'%Y-%m')
	ORDER BY end_time DESC	
  </select>
  <select id="findMonthCountByDate" parameterType="java.util.Map" resultType="cn.linkmore.order.controller.app.response.ResMonthCount">
 	select ifnull(DATE_FORMAT(end_time,'%m'),DATE_FORMAT(#{monthStart},'%m')) month,ifnull(SUM(actual_amount),0.0) monthAmount,COUNT(1) monthCarCount
	 FROM o_orders 	where	status = 3 
	 and pre_id = #{preId}
	 AND  DATE_FORMAT(end_time,'%Y-%m-%d') >= date_format(#{monthStart},'%Y-%m-%d')
	 AND  date_format(#{monthEnd},'%Y-%m-%d') >  DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC	
  </select>
  <select id="findStaffMonthCountByDate" parameterType="java.util.Map" resultType="cn.linkmore.order.controller.app.response.ResMonthCount">
 	select ifnull(DATE_FORMAT(end_time,'%m'),DATE_FORMAT(#{monthStart},'%m')) month,ifnull(SUM(actual_amount),0.0) monthAmount,COUNT(1) monthCarCount
	 FROM o_orders 	where	status = 3 
	 and stall_id in
	<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
   		#{id}
   	</foreach>
	 AND  DATE_FORMAT(end_time,'%Y-%m-%d') >= date_format(#{monthStart},'%Y-%m-%d')
	 AND  date_format(#{monthEnd},'%Y-%m-%d') >  DATE_FORMAT(end_time,'%Y-%m-%d')
	ORDER BY end_time DESC	
  </select>
  <select id="findPreDataList" parameterType="java.util.Map" resultType="cn.linkmore.order.response.ResPreDataList">
 	SELECT
		sum(actual_amount) dayAmount,
		count(1) dayNumber,
		DATE_FORMAT(end_time, '%Y-%m-%d') dayTime
	FROM
		o_orders
	WHERE
	status = 3 
		<if test="startTime != null">
		 AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		AND pre_id = #{preId}
	GROUP BY
		DATE_FORMAT(end_time, '%Y-%m-%d')
	ORDER BY end_time ASC
  </select>
  <select id="findPresOrder" parameterType="cn.linkmore.enterprise.request.ReqStaffPreOwnerStall" resultType="cn.linkmore.enterprise.response.ResStaffPreOwnerStall">
 	select count(id) orderNumber,pre_id preId,ifnull(sum(if(status = 3,actual_amount,null)),0) orderAmount from o_orders where pre_id in
 	<foreach collection="preIds"  index="index" item="id" open="(" separator="," close=")" >
   		#{id}
   	</foreach>
 	 and status in (1,2,3,6)
 	 <if test="type == 0">
		and DATE_FORMAT(begin_time,'%Y-%m-%d') =  DATE_FORMAT(#{startTime},'%Y-%m-%d')
 	 </if>
 	 <if test="type != 0">
 		and <![CDATA[ DATE_FORMAT(#{startTime},'%Y-%m-%d')<= DATE_FORMAT(begin_time,'%Y-%m-%d') ]]>
		and <![CDATA[DATE_FORMAT(#{endTime},'%Y-%m-%d') >= DATE_FORMAT(begin_time,'%Y-%m-%d')]]>
 	 </if>
 	GROUP BY pre_id
  </select>
  <select id="findStaffPreDataList" parameterType="java.util.Map" resultType="cn.linkmore.order.response.ResPreDataList">
 	SELECT
		sum(actual_amount) dayAmount,
		count(1) dayNumber,
		DATE_FORMAT(end_time, '%Y-%m-%d') dayTime
	FROM
		o_orders
	WHERE
	status = 3 
		<if test="startTime != null">
		 AND end_time >=  DATE_FORMAT(#{startTime},'%Y-%m-%d')
		</if>
		<if test="preId != null">
			AND pre_id = #{preId}
		</if>
		<if test="stallIds != null">
			AND stall_id in 
			<foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
	    		#{id}
	    	</foreach>
		</if>
	GROUP BY
		DATE_FORMAT(end_time, '%Y-%m-%d')
	ORDER BY end_time ASC
  </select>
  <select id="findPlateByPreId" parameterType="java.lang.Long" resultType="cn.linkmore.order.response.ResOrderPlate">
 	<!-- SELECT plate_no plateNo,stall_id stallId,stall_name stallName FROM o_orders WHERE pre_id = #{preId} AND status = 2
 --> 
 SELECT
	ord.id stallId,
			ord.plate_no plateNo,
			ord.stall_name stallName
FROM
	(
		SELECT
			sta.id,
			ord.plate_no,
			ord.stall_name
		FROM
			(
				SELECT
					plate_no,
					stall_id,
					stall_name,
					begin_time
				FROM
					o_orders
				WHERE
					pre_id = #{preId}
				ORDER BY
					begin_time DESC
			) ord
		INNER JOIN v_stall sta ON sta.id = ord.stall_id
		AND sta.pre_id = #{preId}
		AND sta. STATUS = 2
		ORDER BY
			ord.begin_time DESC
			 limit 10000000000
	) ord
GROUP BY
	ord.id
  </select>
 
   	
  <select id="findOrderByStallId" parameterType="java.lang.Long" resultType="cn.linkmore.order.response.ResEntOrder">
 	SELECT 
 		id orderId ,order_no orderNo,begin_time beginTime , end_time endTime,lock_down_time lockDownTime,plate_no plate
 		,username mobile
 	FROM 
 		o_orders 
 	WHERE 
 		stall_id = #{stallId}
 	order by begin_time desc 
 	limit 0,1
  </select>
  
  <select id="getDayOfCanceOrderlList" parameterType="java.lang.Long" resultMap="ResResultMap">
    select 
    <include refid="Res_Column_List" />
    from o_orders  
    where user_id = #{userId,jdbcType=BIGINT} and status = 4 
    <![CDATA[ and date(create_time) = curdate()]]>
  </select>
  
  <select id="findPreOrderDetails" parameterType="cn.linkmore.enterprise.request.ReqPreDetails" resultType="cn.linkmore.order.response.ResPreOrderDetails">
    select 
  	ifnull(sum(if(status = 3 ,actual_amount,0)),0.00) orderIncome,count(id) orderNumber,count(if(status = 3,1,null)) orderOver,count(if(status = 1 or status = 6,1,null)) orderNotOver
    from o_orders  
    where 
    	pre_id = #{preId}
    <if test="type == 0">
    	and  DATE_FORMAT(begin_time,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
    </if>
    <if test="stallIds">
   	 AND stall_id in
     <foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")"  >
	 	#{id} 
  	 </foreach>
    </if>
  </select>
  
</mapper>