<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.order.dao.cluster.WalletDetailClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.order.entity.WalletDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="source" jdbcType="SMALLINT" property="source" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
  </resultMap>
  <resultMap id="ResBaseResultMap" type="cn.linkmore.order.response.ResWalletDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="source" jdbcType="SMALLINT" property="source" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, amount, source, type, create_time, account_amount
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_acc_wallet_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
   <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   	select count(1) from t_acc_wallet_detail
		where 1 = 1
    <if test="username!=null">
		AND u.username = #{username}
	</if>
    <if test="type!=null">
		AND d.type = #{type}
	</if>
    <if test="source != null">
		AND d.source = #{source}
	</if>
    <if test="createTime!=null">
    <![CDATA[and DATE_FORMAT(d.create_time,'%Y-%m-%d') >= #{startTime}]]>
    </if> 
    <if test="endTime!=null">
    <![CDATA[and DATE_FORMAT(d.create_time,'%Y-%m-%d') <= #{endTime}]]>
    </if> 
  </select>
  <select id="findPage" resultMap="ResBaseResultMap" parameterType="java.util.HashMap" >
  	select d.id,d.account_id,d.amount,d.source,d.type,d.create_time,d.account_amount,u.username as username,u.sex as sex
  	from t_acc_wallet_detail d left join t_user u on d.account_id = u.id 
		where 1 = 1
    <if test="username!=null">
		AND u.username = #{username}
	</if>
    <if test="type!=null">
		AND d.type = #{type}
	</if>
    <if test="source != null">
		AND d.source = #{source}
	</if>
    <if test="createTime!=null">
    <![CDATA[and DATE_FORMAT(d.create_time,'%Y-%m-%d') >= #{startTime}]]>
    </if> 
    <if test="endTime!=null">
    <![CDATA[and DATE_FORMAT(d.create_time,'%Y-%m-%d') <= #{endTime}]]>
    </if> 
      <if test="property==null">  
    order by d.create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if>
     limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="getListByTime" resultMap="ResBaseResultMap" parameterType="cn.linkmore.order.request.ReqWalletDetailExport" >
  	select d.id,d.account_id,d.amount,d.source,d.type,d.create_time,d.account_amount,u.username as username,u.sex as sex
  	from t_acc_wallet_detail d left join t_user u on d.account_id = u.id 
		where 1 = 1
    <if test="mobile!=null">
		AND u.username = #{mobile}
	</if>
    <if test="type!=null">
		AND d.type = #{type}
	</if>
    <if test="source != null">
		AND d.source = #{source}
	</if>
    <if test="startTime!=null">
    <![CDATA[and DATE_FORMAT(d.create_time,'%Y-%m-%d') >= #{startTime}]]>
    </if> 
    <if test="endTime!=null">
    <![CDATA[and DATE_FORMAT(d.create_time,'%Y-%m-%d') <= #{endTime}]]>
    </if> 
    order by d.create_time desc
  </select>
</mapper>