<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.master.QrcReceiveMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.QrcReceive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="qrc_id" jdbcType="BIGINT" property="qrcId" />
    <result column="combo_id" jdbcType="BIGINT" property="comboId" />
    <result column="pack_id" jdbcType="BIGINT" property="packId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="receive_status" jdbcType="SMALLINT" property="receiveStatus" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, qrc_id, combo_id, pack_id, enterprise_id, open_id, receive_status, user_id, create_time, 
    update_time
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_coupon_qrc_receive
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.coupon.entity.QrcReceive">
    insert into t_coupon_qrc_receive (id, qrc_id, combo_id, 
      pack_id, enterprise_id, open_id, 
      receive_status, user_id, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{qrcId,jdbcType=BIGINT}, #{comboId,jdbcType=BIGINT}, 
      #{packId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, 
      #{receiveStatus,jdbcType=SMALLINT}, #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="update" parameterType="cn.linkmore.coupon.entity.QrcReceive">
    update t_coupon_qrc_receive
    set qrc_id = #{qrcId,jdbcType=BIGINT},
      combo_id = #{comboId,jdbcType=BIGINT},
      pack_id = #{packId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=VARCHAR},
      receive_status = #{receiveStatus,jdbcType=SMALLINT},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>