<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.master.TemplateEnMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.Template">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="total_quantity" jdbcType="INTEGER" property="totalQuantity" />
    <result column="unit_count" jdbcType="INTEGER" property="unitCount" />
    <result column="unit_amount" jdbcType="DECIMAL" property="unitAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="send_quantity" jdbcType="INTEGER" property="sendQuantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="valid_status" jdbcType="INTEGER" property="validStatus" />
    <result column="valid_type" jdbcType="INTEGER" property="validType" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="expiry_time" jdbcType="TIMESTAMP" property="expiryTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enterprise_deal_number" jdbcType="VARCHAR" property="enterpriseDealNumber" />
    <result column="release_method" jdbcType="INTEGER" property="releaseMethod" />
    <result column="coupon_expires" jdbcType="INTEGER" property="couponExpires" />
    <result column="maturity_amount" jdbcType="INTEGER" property="maturityAmount" />
    <result column="merchant_default" jdbcType="INTEGER" property="merchantDefault" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="given_amount" jdbcType="DECIMAL" property="givenAmount" />
    <result column="delete_status" jdbcType="BIGINT" property="deleteStatus" />
  </resultMap>
  
  <update id="startOrStop" parameterType="java.util.HashMap">
     update t_coupon_template
    set update_time = #{updateTime,jdbcType=TIMESTAMP},
      <if test="expiryTime != null">
        expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteById">
     	update t_coupon_template
    	set delete_status = 1
   	 where id = #{id,jdbcType=BIGINT}
  </update>
    <insert id="save" parameterType="cn.linkmore.coupon.request.ReqTemplate" useGeneratedKeys="true" keyProperty="id">
    insert into t_coupon_template (id, name, type, 
      enterprise_id, remark, total_quantity, 
      unit_count, unit_amount, total_amount, 
      send_quantity, status, valid_status, 
      valid_type, valid_day, expiry_time, start_time, 
      end_time, creator_id, creator_name,
      create_time, update_time,enterprise_deal_number,release_method,
      coupon_expires,maturity_amount,merchant_default,contract_amount,given_amount,delete_status)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{enterpriseId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{totalQuantity,jdbcType=INTEGER}, 
      #{unitCount,jdbcType=INTEGER}, #{unitAmount,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, 
      #{sendQuantity,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{validStatus,jdbcType=INTEGER}, 
      #{validType,jdbcType=INTEGER}, #{validDay,jdbcType=INTEGER}, #{expiryTime,jdbcType=TIMESTAMP},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=INTEGER}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{enterpriseDealNumber,jdbcType=VARCHAR}, #{releaseMethod,jdbcType=INTEGER}, #{couponExpires,jdbcType=INTEGER},
      #{maturityAmount,jdbcType=INTEGER}, #{merchantDefault,jdbcType=INTEGER},#{contractAmount,jdbcType=DECIMAL}, 
      #{givenAmount,jdbcType=DECIMAL},#{deleteStatus,jdbcType=BIGINT}
      )
  </insert>
  <insert id="saveSelective" parameterType="cn.linkmore.coupon.request.ReqTemplate">
    insert into t_coupon_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="remark != null">
      	remark,
      </if>
      <if test="totalQuantity != null">
        total_quantity,
      </if>
      <if test="unitCount != null">
        unit_count,
      </if>
      <if test="unitAmount != null">
        unit_amount,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="sendQuantity != null">
        send_quantity,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="validStatus != null">
        valid_status,
      </if>
      <if test="validType != null">
        valid_status,
      </if>
      <if test="validType != null">
        valid_type,
      </if>
      <if test="validDay != null">
        valid_day,
      </if>
      <if test="expiryTime != null">
        expiry_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enterpriseDealNumber != null">
        enterprise_deal_number,
      </if>
      <if test="releaseMethod != null">
        release_method,
      </if>
      <if test="couponExpires != null">
        coupon_expires,
      </if>
      <if test="maturityAmount != null">
        maturity_amount,
      </if>
      <if test="merchantDefault != null">
        merchant_default,
      </if>
      <if test="contractAmount != null">
        contract_amount,
      </if>
      <if test="givenAmount != null">
        given_amount,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null">
        #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="unitCount != null">
        #{unitCount,jdbcType=INTEGER},
      </if>
      <if test="unitAmount != null">
        #{unitAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="sendQuantity != null">
        #{sendQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="validStatus != null">
        #{validStatus,jdbcType=INTEGER},
      </if>
      <if test="validType != null">
        #{validType,jdbcType=INTEGER},
      </if>
      <if test="validDay != null">
        #{validDay,jdbcType=INTEGER},
      </if>
      <if test="expiryTime != null">
        #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseDealNumber != null">
        #{enterpriseDealNumber,jdbcType=VARCHAR},
      </if>
      <if test="releaseMethod != null">
        #{releaseMethod,jdbcType=INTEGER},
      </if>
      <if test="couponExpires != null">
        #{couponExpires,jdbcType=INTEGER},
      </if>
      <if test="maturityAmount != null">
        #{maturityAmount,jdbcType=INTEGER},
      </if>
      <if test="merchantDefault != null">
        #{merchantDefault,jdbcType=INTEGER},
      </if>
      <if test="contractAmount != null">
        #{contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="givenAmount != null">
        #{givenAmount,jdbcType=DECIMAL},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="cn.linkmore.coupon.entity.Template">
    update t_coupon_template
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null">
        total_quantity = #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="unitCount != null">
        unit_count = #{unitCount,jdbcType=INTEGER},
      </if>
      <if test="unitAmount != null">
        unit_amount = #{unitAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="sendQuantity != null">
        send_quantity = #{sendQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="validStatus != null">
        valid_status = #{validStatus,jdbcType=INTEGER},
      </if>
      <if test="validType != null">
        valid_type = #{validType,jdbcType=INTEGER},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="expiryTime != null">
        expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseDealNumber != null">
        enterprise_deal_number = #{enterpriseDealNumber,jdbcType=VARCHAR},
      </if>
      <if test="releaseMethod != null">
        release_method = #{releaseMethod,jdbcType=INTEGER},
      </if>
      <if test="couponExpires != null">
        coupon_expires = #{couponExpires,jdbcType=INTEGER},
      </if>
      <if test="maturityAmount != null">
        maturity_amount = #{maturityAmount,jdbcType=INTEGER},
      </if>
      <if test="merchantDefault != null">
        merchant_default = #{merchantDefault,jdbcType=INTEGER},
      </if>
      <if test="contractAmount != null">
       	contract_amount =  #{contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="givenAmount != null">
        given_amount = #{givenAmount,jdbcType=DECIMAL},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.coupon.entity.Template">
    update t_coupon_template
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      total_quantity = #{totalQuantity,jdbcType=INTEGER},
      unit_count = #{unitCount,jdbcType=INTEGER},
      unit_amount = #{unitAmount,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      send_quantity = #{sendQuantity,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      valid_status = #{validStatus,jdbcType=INTEGER},
      valid_type = #{validType,jdbcType=INTEGER},
      valid_day = #{validDay,jdbcType=INTEGER},
      expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enterprise_deal_number =  #{enterpriseDealNumber,jdbcType=VARCHAR},
      release_method =  #{releaseMethod,jdbcType=INTEGER}, 
      coupon_expires =  #{couponExpires,jdbcType=INTEGER},
      maturity_amount =  #{maturityAmount,jdbcType=INTEGER},
      merchant_default =  #{merchantDefault,jdbcType=INTEGER},
      contract_amount =  #{contractAmount,jdbcType=DECIMAL},
      given_amount = #{givenAmount,jdbcType=DECIMAL},
      delete_status = #{deleteStatus,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateDeleteStatus" parameterType="java.util.HashMap">
    update t_coupon_template
    set delete_status = #{delete_status},
    where id in #{ids}
  </update>
</mapper>