<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.master.TemplateMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.Template">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="total_quantity" jdbcType="INTEGER" property="totalQuantity" />
    <result column="unit_count" jdbcType="INTEGER" property="unitCount" />
    <result column="unit_amount" jdbcType="DECIMAL" property="unitAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="send_quantity" jdbcType="INTEGER" property="sendQuantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="valid_status" jdbcType="INTEGER" property="validStatus" />
    <result column="valid_type" jdbcType="INTEGER" property="validType" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="expiry_time" jdbcType="TIMESTAMP" property="expiryTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enterprise_deal_number" jdbcType="VARCHAR" property="enterpriseDealNumber" />
    <result column="release_method" jdbcType="INTEGER" property="releaseMethod" />
    <result column="coupon_expires" jdbcType="INTEGER" property="couponExpires" />
    <result column="maturity_amount" jdbcType="INTEGER" property="maturityAmount" />
    <result column="merchant_default" jdbcType="INTEGER" property="merchantDefault" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="given_amount" jdbcType="DECIMAL" property="givenAmount" />
    <result column="delete_status" jdbcType="BIGINT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, remark, type, enterprise_id, total_quantity, unit_count, unit_amount, total_amount, 
    send_quantity, status, valid_status, valid_type, valid_day, expiry_time, start_time, 
    end_time, creator_id, creator_name, create_time, update_time, enterprise_deal_number, 
    release_method, coupon_expires, maturity_amount, merchant_default, city_id, pre_id, 
    contract_amount, given_amount, delete_status
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_coupon_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.coupon.entity.Template">
    insert into t_coupon_template (id, name, remark, 
      type, enterprise_id, total_quantity, 
      unit_count, unit_amount, total_amount, 
      send_quantity, status, valid_status, 
      valid_type, valid_day, expiry_time, 
      start_time, end_time, creator_id, 
      creator_name, create_time, update_time, 
      enterprise_deal_number, release_method, coupon_expires, 
      maturity_amount, merchant_default, city_id, 
      pre_id, contract_amount, given_amount, 
      delete_status)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{enterpriseId,jdbcType=BIGINT}, #{totalQuantity,jdbcType=INTEGER}, 
      #{unitCount,jdbcType=INTEGER}, #{unitAmount,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, 
      #{sendQuantity,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{validStatus,jdbcType=INTEGER}, 
      #{validType,jdbcType=INTEGER}, #{validDay,jdbcType=INTEGER}, #{expiryTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=INTEGER}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enterpriseDealNumber,jdbcType=VARCHAR}, #{releaseMethod,jdbcType=INTEGER}, #{couponExpires,jdbcType=INTEGER}, 
      #{maturityAmount,jdbcType=INTEGER}, #{merchantDefault,jdbcType=INTEGER}, #{cityId,jdbcType=BIGINT}, 
      #{preId,jdbcType=BIGINT}, #{contractAmount,jdbcType=DECIMAL}, #{givenAmount,jdbcType=DECIMAL}, 
      #{deleteStatus,jdbcType=BIGINT})
  </insert>
  
  <update id="update" parameterType="cn.linkmore.coupon.entity.Template">
    update t_coupon_template
    set name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      total_quantity = #{totalQuantity,jdbcType=INTEGER},
      unit_count = #{unitCount,jdbcType=INTEGER},
      unit_amount = #{unitAmount,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      send_quantity = #{sendQuantity,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      valid_status = #{validStatus,jdbcType=INTEGER},
      valid_type = #{validType,jdbcType=INTEGER},
      valid_day = #{validDay,jdbcType=INTEGER},
      expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enterprise_deal_number = #{enterpriseDealNumber,jdbcType=VARCHAR},
      release_method = #{releaseMethod,jdbcType=INTEGER},
      coupon_expires = #{couponExpires,jdbcType=INTEGER},
      maturity_amount = #{maturityAmount,jdbcType=INTEGER},
      merchant_default = #{merchantDefault,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=BIGINT},
      pre_id = #{preId,jdbcType=BIGINT},
      contract_amount = #{contractAmount,jdbcType=DECIMAL},
      given_amount = #{givenAmount,jdbcType=DECIMAL},
      delete_status = #{deleteStatus,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="startOrStop" parameterType="java.util.HashMap">
    update t_coupon_template
    set update_time = #{updateTime,jdbcType=TIMESTAMP},
      <if test="expiryTime != null">
        expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
</mapper>