<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.coupon.dao.master.TemplateItemEnMasterMapper">
	<resultMap id="BaseResultMap" type="cn.linkmore.coupon.entity.TemplateItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="face_amount" jdbcType="DECIMAL" property="faceAmount" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="condition_amount" jdbcType="DECIMAL" property="conditionAmount" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
  </resultMap>
  
  <insert id="insertBatch" parameterType="java.util.List"  useGeneratedKeys="true" >
	 insert into t_coupon_template_item (id, template_id, type, 
      face_amount, quantity, valid_day, 
      discount, condition_amount,source)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id,jdbcType=BIGINT}, #{item.templateId,jdbcType=BIGINT}, #{item.type,jdbcType=INTEGER}, 
      #{item.faceAmount,jdbcType=DECIMAL}, #{item.quantity,jdbcType=INTEGER}, #{item.validDay,jdbcType=INTEGER}, 
      #{item.discount,jdbcType=INTEGER}, #{item.conditionAmount,jdbcType=DECIMAL}, #{item.source,jdbcType=INTEGER})
     </foreach>
  </insert>
  
  <delete id="deleteByTempId" parameterType="java.lang.Long">
    delete from t_coupon_template_item
    where template_id = #{tempId,jdbcType=BIGINT}
  </delete>
  
   <update id="updateByIdSelective" parameterType="cn.linkmore.coupon.entity.TemplateItem">
    update t_coupon_template_item
    <set>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="faceAmount != null">
        face_amount = #{faceAmount,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="conditionAmount != null">
        condition_amount = #{conditionAmount,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.coupon.entity.TemplateItem">
    update t_coupon_template_item
    set template_id = #{templateId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      face_amount = #{faceAmount,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      valid_day = #{validDay,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      condition_amount = #{conditionAmount,jdbcType=DECIMAL},
      source = #{source,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateDeletaStatus" parameterType="java.util.Map">
    update t_coupon_template_item
    set 
      delete_status = #{delete_status}
    where id in(#{ids})
  </update>
  
  
</mapper>