<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.EntBrandAdMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntBrandAd">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="view_image" jdbcType="VARCHAR" property="viewImage" />
    <result column="view_url" jdbcType="VARCHAR" property="viewUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="apply_count" jdbcType="INTEGER" property="applyCount" />
    <result column="screen" jdbcType="SMALLINT" property="screen" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="city_ids" jdbcType="VARCHAR" property="cityIds" />
    <result column="limit_status" jdbcType="SMALLINT" property="limitStatus" />
    <result column="ad_status" jdbcType="SMALLINT" property="adStatus" />
  </resultMap>

  <delete id="delete" parameterType="java.lang.Long">
    delete from t_ent_brand_ad
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.enterprise.entity.EntBrandAd">
    insert into t_ent_brand_ad (id, ent_id, ent_name, view_image, view_url, 
    create_time, end_time, apply_count, screen, status, city_ids, limit_status, ad_status)
    values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{entName,jdbcType=VARCHAR}, 
      #{viewImage,jdbcType=VARCHAR}, #{viewUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{applyCount,jdbcType=INTEGER}, #{screen,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT},  #{cityIds,jdbcType=VARCHAR},#{limitStatus,jdbcType=SMALLINT},
      #{adStatus,jdbcType=SMALLINT})
  </insert>
  
  <update id="update" parameterType="cn.linkmore.enterprise.entity.EntBrandAd">
    update t_ent_brand_ad
    set ent_id = #{entId,jdbcType=BIGINT},
      ent_name = #{entName,jdbcType=VARCHAR},
      view_image = #{viewImage,jdbcType=VARCHAR},
      view_url = #{viewUrl,jdbcType=VARCHAR},
      apply_count = #{applyCount,jdbcType=INTEGER},
      screen = #{screen,jdbcType=SMALLINT},
      city_ids = #{cityIds,jdbcType=VARCHAR},
      limit_status = #{limitStatus,jdbcType=SMALLINT},
      ad_status = #{adStatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from t_ent_brand_ad where id in
    <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
       #{id}
    </foreach>
  </delete>
  
  <update id="startOrStop" parameterType="java.util.HashMap">
    update t_ent_brand_ad
    set end_time = #{endTime,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>