<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.EntBrandStallMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntBrandStall">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_pre_id" jdbcType="BIGINT" property="brandPreId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand_pre_id, stall_id, stall_name, create_time, update_time, status
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_ent_brand_stall
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.enterprise.entity.EntBrandStall">
    insert into t_ent_brand_stall (id, brand_pre_id, stall_id, 
      stall_name, create_time, update_time, 
      status)
    values (#{id,jdbcType=BIGINT}, #{brandPreId,jdbcType=BIGINT}, #{stallId,jdbcType=BIGINT}, 
      #{stallName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT})
  </insert>
  <update id="update" parameterType="cn.linkmore.enterprise.entity.EntBrandStall">
    update t_ent_brand_stall
    set brand_pre_id = #{brandPreId,jdbcType=BIGINT},
      stall_id = #{stallId,jdbcType=BIGINT},
      stall_name = #{stallName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>