<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.EntPrefectureMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntPrefecture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pre_id, pre_name, ent_id, ent_name, operator_id, operator_name, create_time, 
    update_time
  </sql>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_ent_prefecture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.enterprise.entity.EntPrefecture">
    insert into t_ent_prefecture (id, pre_id, pre_name, 
      ent_id, ent_name, operator_id, 
      operator_name, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{preId,jdbcType=BIGINT}, #{preName,jdbcType=VARCHAR}, 
      #{entId,jdbcType=BIGINT}, #{entName,jdbcType=VARCHAR}, #{operatorId,jdbcType=BIGINT}, 
      #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="saveSelective" parameterType="cn.linkmore.enterprise.entity.EntPrefecture">
    insert into t_ent_prefecture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="preId != null">
        pre_id,
      </if>
      <if test="preName != null">
        pre_name,
      </if>
      <if test="entId != null">
        ent_id,
      </if>
      <if test="entName != null">
        ent_name,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="preId != null">
        #{preId,jdbcType=BIGINT},
      </if>
      <if test="preName != null">
        #{preName,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="entName != null">
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="cn.linkmore.enterprise.entity.EntPrefecture">
    update t_ent_prefecture
    <set>
      <if test="preId != null">
        pre_id = #{preId,jdbcType=BIGINT},
      </if>
      <if test="preName != null">
        pre_name = #{preName,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        ent_id = #{entId,jdbcType=BIGINT},
      </if>
      <if test="entName != null">
        ent_name = #{entName,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.enterprise.entity.EntPrefecture">
    update t_ent_prefecture
    set pre_id = #{preId,jdbcType=BIGINT},
      pre_name = #{preName,jdbcType=VARCHAR},
      ent_id = #{entId,jdbcType=BIGINT},
      ent_name = #{entName,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>