<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.EntRentUserMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntRentUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_pre_id" jdbcType="BIGINT" property="entPreId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_ent_rent_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="delete" parameterType="java.util.List">
	  delete from t_ent_rent_user
	  where id in
	  <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
	     #{id}
	  </foreach> 
  </delete>
  <insert id="save" parameterType="cn.linkmore.enterprise.entity.EntRentUser">
    insert into t_ent_rent_user (id, ent_id, ent_pre_id, 
      pre_id, mobile, realname, 
      plate, stall_id, user_id.ent_name,pre_name,stall_name,start_time,end_time
      )
    values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{entPreId,jdbcType=BIGINT}, 
      #{preId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{plate,jdbcType=VARCHAR}, #{stallId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}
      , #{entName,jdbcType=VARCHAR}, #{preName,jdbcType=VARCHAR}, #{stallName,jdbcType=VARCHAR},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="saveReq" parameterType="cn.linkmore.enterprise.request.ReqRentUser">
    insert into t_ent_rent_user (id, ent_id, ent_pre_id, pre_id, mobile, realname, 
      plate, stall_id, user_id,ent_name,pre_name,stall_name,start_time,end_time,type,
      company_id,company_name, create_user_id, create_user_name, create_time, 
      update_user_id, update_user_name, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}, #{entPreId,jdbcType=BIGINT}, 
      #{preId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{plate,jdbcType=VARCHAR}, #{stallId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{entName,jdbcType=VARCHAR}, #{preName,jdbcType=VARCHAR}, #{stallName,jdbcType=VARCHAR},
      #{startTime,jdbcType=TIMESTAMP} ,#{endTime,jdbcType=TIMESTAMP},#{type},#{companyId},#{companyName},
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
      </insert>
  <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into t_ent_rent_user (id, pre_id, mobile, 
      plate, stall_id, user_id, 
      pre_name, stall_name,
      start_time, end_time,
      type, company_id, company_name
      )
      values
      <foreach collection="list" item="item" index="index" separator=",">
     (#{item.id,jdbcType=BIGINT}, #{item.preId,jdbcType=BIGINT}, #{item.mobile,jdbcType=VARCHAR}, 
      #{item.plate,jdbcType=VARCHAR}, #{item.stallId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, 
      #{item.preName,jdbcType=VARCHAR}, #{item.stallName,jdbcType=VARCHAR},
      #{item.startTime,jdbcType=TIMESTAMP} ,#{item.endTime,jdbcType=TIMESTAMP},
      #{item.type}, #{item.companyId}, #{item.companyName})
      </foreach>
  </insert>
  
  <delete id="deleteBatch" parameterType="java.util.List" >
    delete from t_ent_rent_user
    where id in
    <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
       #{id}
    </foreach> 
  </delete>
  <insert id="saveSelective" parameterType="cn.linkmore.enterprise.entity.EntRentUser">
    insert into t_ent_rent_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="entId != null">
        ent_id,
      </if>
      <if test="entPreId != null">
        ent_pre_id,
      </if>
      <if test="preId != null">
        pre_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="plate != null">
        plate,
      </if>
      <if test="stallId != null">
        stall_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
       <if test="entName != null">
        ent_name,
      </if>
       <if test="preName != null">
        pre_name,
      </if>
       <if test="stallName != null">
        stall_name,
      </if>
       <if test="companyId != null">
        company_id,
      </if>
       <if test="companyName != null">
        company_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=BIGINT},
      </if>
      <if test="entPreId != null">
        #{entPreId,jdbcType=BIGINT},
      </if>
      <if test="preId != null">
        #{preId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="plate != null">
        #{plate,jdbcType=VARCHAR},
      </if>
      <if test="stallId != null">
        #{stallId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="entName != null">
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="preName != null">
        #{preName,jdbcType=VARCHAR},
      </if>
      <if test="stallName != null">
        #{stallName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="cn.linkmore.enterprise.entity.EntRentUser">
    update t_ent_rent_user
    <set>
      <if test="entId != null">
        ent_id = #{entId,jdbcType=BIGINT},
      </if>
      <if test="entPreId != null">
        ent_pre_id = #{entPreId,jdbcType=BIGINT},
      </if>
      <if test="preId != null">
        pre_id = #{preId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="plate != null">
        plate = #{plate,jdbcType=VARCHAR},
      </if>
      <if test="stallId != null">
        stall_id = #{stallId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
       <if test="entName != null">
        ent_name = #{entName,jdbcType=VARCHAR},
      </if>
       <if test="stallName != null">
        stall_name = #{stallName,jdbcType=VARCHAR},
      </if>
       <if test="preName != null">
        pre_name = #{preName,jdbcType=VARCHAR},
      </if>
       <if test="companyId != null">
        company_id = #{companyId},
      </if>
       <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateReq" parameterType="cn.linkmore.enterprise.request.ReqRentUser">
    update t_ent_rent_user
    <set>
      <if test="entId != null">
        ent_id = #{entId,jdbcType=BIGINT},
      </if>
      <if test="entPreId != null">
        ent_pre_id = #{entPreId,jdbcType=BIGINT},
      </if>
      <if test="preId != null">
        pre_id = #{preId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="plate != null">
        plate = #{plate,jdbcType=VARCHAR},
      </if>
      <if test="stallId != null">
        stall_id = #{stallId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
        <if test="entName != null">
        ent_name = #{entName,jdbcType=VARCHAR},
      </if>
        <if test="preName != null">
        pre_name = #{preName,jdbcType=VARCHAR},
      </if>
      <if test="stallName != null">
        stall_name = #{stallName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="companyId != null">
        company_id = #{companyId},
      </if>
      <if test="companyName != null">
        company_name = #{companyName},
      </if>
      
      <if test="updateUserId != null">
        update_user_id = #{updateUserId},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.enterprise.entity.EntRentUser">
    update t_ent_rent_user
    set ent_id = #{entId,jdbcType=BIGINT},
      ent_pre_id = #{entPreId,jdbcType=BIGINT},
      pre_id = #{preId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      plate = #{plate,jdbcType=VARCHAR},
      stall_id = #{stallId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
       stall_name = #{stallName,jdbcType=VARCHAR},
        pre_name = #{preName,jdbcType=VARCHAR},
          company_name = #{companyName},
           company_id = #{companyId},
         ent_name = #{entName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>