<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.EntRentedRecordMasterMapper">
  
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_ent_rented_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="saveSelective" parameterType="cn.linkmore.enterprise.entity.EntRentedRecord">
  	 insert into t_ent_rented_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
		
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="stallId != null">
        stall_id,
      </if>
       <if test="downTime != null">
        down_time,
      </if>
      <if test="leaveTime != null">
        leave_time,
      </if>
       <if test="preName != null">
        pre_name,
      </if>
    	<if test="preId != null">
        pre_id,
      </if>
       <if test="stallName != null">
        stall_name,
      </if>
       <if test="plateNo != null">
        plate_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
       <if test="userId != null">
        #{userId},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="stallId != null">
        #{stallId},
      </if>
       <if test="downTime != null">
        #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null">
        #{leaveTime,jdbcType=TIMESTAMP},
      </if>
       <if test="preName != null">
        #{preName},
      </if>
    	<if test="preId != null">
        #{preId},
      </if>
       <if test="stallName != null">
        #{stallName},
      </if>
       <if test="plateNo != null">
        #{plateNo},
      </if>
    </trim>
  </insert>
  
  <update id="updateByIdSelective" parameterType="cn.linkmore.enterprise.entity.EntRentedRecord">
    update t_ent_rented_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>  
      <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>      
      <if test="plateNo != null">
        plate_no = #{plateNo,jdbcType=BIGINT},
      </if>
      <if test="downTime != null">
        down_time = #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null">
        leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stallId != null">
        stall_id = #{stallId,jdbcType=BIGINT},
      </if>
      <if test="stallName != null">
        stall_name = #{stallName,jdbcType=VARCHAR},
      </if>
      <if test="preId != null">
        pre_id = #{preId,jdbcType=BIGINT},
      </if>
      <if test="preName != null">
        pre_name = #{preName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="cn.linkmore.enterprise.entity.EntRentedRecord">
    update t_ent_rented_record
     set 
      plate_no = #{plateNo,jdbcType=BIGINT},
      down_time = #{downTime,jdbcType=TIMESTAMP},
      leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      stall_id = #{stallId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=BIGINT},
      stall_name = #{stallName,jdbcType=VARCHAR},
      pre_id = #{preId,jdbcType=BIGINT},
      pre_name = #{preName,jdbcType=VARCHAR}
      user_id = #{userId,jdbcType=BIGINT},
      type = #{type,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateRecordBatch" parameterType="java.util.List">
   <foreach collection="list" item="item" index="index" open="" close="" separator=";">
    update t_ent_rented_record
     set 
      plate_no = #{item.plateNo,jdbcType=BIGINT},
      down_time = #{item.downTime,jdbcType=TIMESTAMP},
      leave_time = #{item.leaveTime,jdbcType=TIMESTAMP},
      stall_id = #{item.stallId,jdbcType=BIGINT},
      user_id = #{item.userId,jdbcType=BIGINT},
      status = #{item.status,jdbcType=BIGINT},
      stall_name = #{item.stallName,jdbcType=VARCHAR},
      pre_id = #{item.preId,jdbcType=BIGINT},
      pre_name = #{item.preName,jdbcType=VARCHAR},
      user_id = #{item.userId,jdbcType=BIGINT},
      type = #{item.type,jdbcType=SMALLINT}
      where id = #{item.id,jdbcType=BIGINT}
     </foreach>     
  </update>
  <update id="updateDownTime" parameterType="java.util.Map">
    update t_ent_rented_record
     set down_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateStatus" parameterType="java.util.Map">
    update t_ent_rented_record set status = 2
    where user_id = #{userId,jdbcType=BIGINT} and stall_id = #{stallId,jdbcType=BIGINT}
    and status = 0
  </update>
  <update id="updateRentUserStatus" parameterType="java.util.Map">
    update t_ent_rented_record set status = 3
    where  stall_id = #{stallId,jdbcType=BIGINT} and status = 0
  </update>
  <update id="updateType">
    update t_ent_rented_record set type = #{type}
    where  id = #{id}
  </update>
</mapper>