<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.EntUserPlateMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.EntUserPlate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
  </resultMap>
  
  <delete id="delete" parameterType="java.util.List">
	  delete from t_ent_user_plate
	  where id in
	  <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
	     #{id}
	  </foreach> 
  </delete>
  <insert id="save" parameterType="cn.linkmore.enterprise.entity.EntUserPlate">
    insert into t_ent_user_plate (id, plate_no, mobile, 
      create_user_id, create_user_name, create_time, pre_id, ent_id
      )
    values (#{id,jdbcType=BIGINT}, #{plateNo,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{preId,jdbcType=BIGINT}, #{entId,jdbcType=BIGINT}
      )
  </insert>
  
  <update id="update" parameterType="cn.linkmore.enterprise.entity.EntUserPlate">
    update t_ent_user_plate
    set plate_no = #{plateNo,jdbcType=VARCHAR},
    mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <insert id="saveBatch" parameterType="java.util.List">
    insert into t_ent_user_plate (id, plate_no, mobile, 
      create_user_id, create_user_name, create_time, pre_id,ent_id
      )
    values
      <foreach collection ="list" item="item" separator =",">
      (#{item.id,jdbcType=BIGINT}, #{item.plateNo,jdbcType=VARCHAR}, #{item.mobile,jdbcType=VARCHAR}, 
      #{item.createUserId,jdbcType=BIGINT}, #{item.createUserName,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.preId,jdbcType=BIGINT},#{item.entId,jdbcType=BIGINT}
      )
      </foreach >
  </insert>
  
</mapper>