<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.FixedStallMasterMapper">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_fixed_stall
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
   <delete id="deleteStall" parameterType="java.util.HashMap">
   	 delete from t_fixed_stall 
   	 where fixed_id=#{fixedId,jdbcType=BIGINT}
   	 and stall_id in 
    <foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
       #{id}
    </foreach>
   	
   </delete>
   
   <delete id="updateStatus" parameterType="java.util.HashMap">
   	 update t_fixed_stall set status =#{status,jdbcType=BIGINT} where fixed_id=#{fixedId,jdbcType=BIGINT} and stall_id=#{stallId,jdbcType=BIGINT}
   </delete>
   
  <insert id="insert" parameterType="cn.linkmore.enterprise.entity.FixedStall">
    insert into t_fixed_stall (id, fixed_id, stall_id, 
      stall_name, status)
    values (#{id,jdbcType=BIGINT}, #{fixedId,jdbcType=BIGINT}, #{stallId,jdbcType=BIGINT}, 
      #{stallName,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT})
  </insert>
 
   <insert id="insertByStallName" parameterType="cn.linkmore.enterprise.entity.FixedStall">
    insert into t_fixed_stall (fixed_id, stall_id,stall_name, status)
    select #{fixedId,jdbcType=BIGINT},vs.id,vs.stall_name,#{status,jdbcType=SMALLINT} from v_stall vs
    inner join t_fixed_rent fr on vs.pre_id = fr.pre_id and fr.id = #{fixedId,jdbcType=BIGINT}
    where vs.stall_name = #{stallName,jdbcType=VARCHAR}
    limit 1
  </insert>

 <insert id="insertMore" parameterType="java.util.HashMap">
  insert into t_fixed_stall(fixed_id, stall_id,stall_name, status)
  select #{fixedId,jdbcType=BIGINT},id,stall_name,#{status,jdbcType=SMALLINT} 
  from v_stall 
  where id in 
    <foreach collection="stallIds"  index="index" item="id" open="(" separator="," close=")" >
       #{id}
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="cn.linkmore.enterprise.entity.FixedStall">
    insert into t_fixed_stall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fixedId != null">
        fixed_id,
      </if>
      <if test="stallId != null">
        stall_id,
      </if>
      <if test="stallName != null">
        stall_name,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fixedId != null">
        #{fixedId,jdbcType=BIGINT},
      </if>
      <if test="stallId != null">
        #{stallId,jdbcType=BIGINT},
      </if>
      <if test="stallName != null">
        #{stallName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.linkmore.enterprise.entity.FixedStall">
    update t_fixed_stall
    <set>
      <if test="fixedId != null">
        fixed_id = #{fixedId,jdbcType=BIGINT},
      </if>
      <if test="stallId != null">
        stall_id = #{stallId,jdbcType=BIGINT},
      </if>
      <if test="stallName != null">
        stall_name = #{stallName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.linkmore.enterprise.entity.FixedStall">
    update t_fixed_stall
    set fixed_id = #{fixedId,jdbcType=BIGINT},
      stall_id = #{stallId,jdbcType=BIGINT},
      stall_name = #{stallName,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>