<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.RentEntStallMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.RentEntStall">
    <id column="rent_ent_id" jdbcType="BIGINT" property="rentEntId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
  </resultMap>
  <sql id="Base_Column_List">
    rent_ent_id, stall_id, stall_name,pre_id,pre_name
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ent_rent_ent_stall
    where rent_ent_id = #{rentEntId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.linkmore.enterprise.entity.RentEntStall">
    insert into t_ent_rent_ent_stall (rent_ent_id, stall_id, stall_name,pre_id,pre_name
      )
    values (#{rentEntId,jdbcType=BIGINT}, #{stallId,jdbcType=BIGINT}, #{stallName,jdbcType=VARCHAR},#{preId,jdbcType=BIGINT}, #{preName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="saveBatch" parameterType="java.util.List">
    insert into t_ent_rent_ent_stall (rent_ent_id, stall_id, stall_name,pre_id,pre_name
      )
    values 
    <foreach collection="list" item="item" index="index" separator=",">
   	 (#{item.rentEntId,jdbcType=BIGINT}, #{item.stallId,jdbcType=BIGINT}, #{item.stallName,jdbcType=VARCHAR}, #{item.preId,jdbcType=BIGINT}, #{item.preName,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="cn.linkmore.enterprise.entity.RentEntStall">
    insert into t_ent_rent_ent_stall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rentEntId != null">
        rent_ent_id,
      </if>
      <if test="stallId != null">
        stall_id,
      </if>
      <if test="stallName != null">
        stall_name,
      </if>
       <if test="preId != null">
        pre_id,
      </if>
       <if test="preName != null">
        pre_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rentEntId != null">
        #{rentEntId,jdbcType=BIGINT},
      </if>
      <if test="stallId != null">
        #{stallId,jdbcType=BIGINT},
      </if>
      <if test="stallName != null">
        #{stallName,jdbcType=VARCHAR},
      </if>
       <if test="preId != null">
        #{preId,jdbcType=BIGINT},
      </if>
       <if test="preName != null">
        #{preName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.linkmore.enterprise.entity.RentEntStall">
    update t_ent_rent_ent_stall
    <set>
      <if test="stallId != null">
        stall_id = #{stallId,jdbcType=BIGINT},
      </if>
      <if test="stallName != null">
        stall_name = #{stallName,jdbcType=VARCHAR},
      </if>
        <if test="preId != null">
        pre_id = #{preId,jdbcType=BIGINT},
      </if>
      <if test="preName != null">
        pre_name = #{preName,jdbcType=VARCHAR},
      </if>
    </set>
    where rent_ent_id = #{rentEntId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.linkmore.enterprise.entity.RentEntStall">
    update t_ent_rent_ent_stall
    set stall_id = #{stallId,jdbcType=BIGINT},
   		 pre_id = #{preId,jdbcType=BIGINT},
   		 pre_name = #{preName,jdbcType=VARCHAR},
      stall_name = #{stallName,jdbcType=VARCHAR}
    where rent_ent_id = #{rentEntId,jdbcType=BIGINT}
  </update>
</mapper>