<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.enterprise.dao.master.RentEntStallMasterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.enterprise.entity.RentEntStall">
  	<id column="id" jdbcType="BIGINT" property="id" />
    <result column="rent_com_id" jdbcType="BIGINT" property="rentComId" />
    <result column="stall_id" jdbcType="BIGINT" property="stallId" />
    <result column="stall_name" jdbcType="VARCHAR" property="stallName" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
    <result column="pre_name" jdbcType="VARCHAR" property="preName" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    
  </resultMap>
 
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_ent_rent_com_stall
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.linkmore.enterprise.entity.RentEntStall">
    insert into t_ent_rent_com_stall (id, rent_com_id, stall_id, stall_name,pre_id,pre_name,
    create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time)
    values (#{id,jdbcType=BIGINT}, #{rentComId,jdbcType=BIGINT}, #{stallId,jdbcType=BIGINT}, 
    #{stallName,jdbcType=VARCHAR},#{preId,jdbcType=BIGINT}, #{preName,jdbcType=VARCHAR},
    #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
    #{updateUserId,jdbcType=BIGINT}, #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="saveBatch" parameterType="java.util.List">
    insert into t_ent_rent_com_stall (id, rent_com_id, stall_id, stall_name, pre_id, pre_name,
    create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
   	 (#{item.id,jdbcType=BIGINT},#{item.rentComId,jdbcType=BIGINT},  #{item.stallId,jdbcType=BIGINT}, 
   	 #{item.stallName,jdbcType=VARCHAR}, #{item.preId,jdbcType=BIGINT}, #{item.preName,jdbcType=VARCHAR},
   	 #{item.createUserId,jdbcType=BIGINT}, #{item.createUserName,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
     #{item.updateUserId,jdbcType=BIGINT}, #{item.updateUserName,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}
   	 )
    </foreach>
  </insert>
  
  <update id="update" parameterType="cn.linkmore.enterprise.entity.RentEntStall">
    update t_ent_rent_com_stall
    set stall_id = #{stallId,jdbcType=BIGINT},
   		pre_id = #{preId,jdbcType=BIGINT},
   		pre_name = #{preName,jdbcType=VARCHAR},
        stall_name = #{stallName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from t_ent_rent_com_stall
    where id  in
     <foreach collection="list"  index="index" item="id" open="(" separator="," close=")"  >
    	 #{id,jdbcType=BIGINT}
    </foreach> 
  </delete>
</mapper>