<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.security.dao.cluster.PersonClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.security.response.ResPerson">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
    <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="lock_count" jdbcType="INTEGER" property="lockCount" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="ent_id" jdbcType="BIGINT" property="entId" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="pre_id" jdbcType="BIGINT" property="preId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, lock_status, lock_time, login_ip, lock_count, login_time, 
    status, create_time, realname, ent_id, type, ent_name
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sec_person
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id,type, username,realname, password, lock_status, lock_time, login_ip, lock_count, login_time, create_time,
    status,ent_id ,ent_name, pre_id
    from t_sec_person
    where username = #{username,jdbcType=VARCHAR} limit 0,1
  </select>
  
   <select id="findList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select id,type, username,realname, password, lock_status, lock_time, login_ip, lock_count, login_time, create_time,
    status,ent_id
    from t_sec_person
    where  1=1 
    <if test="username!=null">  
    and username = #{username,jdbcType=VARCHAR}
    </if>  
     <if test="realname!=null">  
    and realname = #{realname,jdbcType=VARCHAR}
    </if> 
    
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if>  
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if> 
  </select>
  <select id="findPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select id,type, username,realname, password, lock_status, lock_time, login_ip, lock_count, login_time, create_time,
    status
    from t_sec_person
    where  1=1 
    <if test="username!=null">  
    and username = #{username,jdbcType=VARCHAR}
    </if>  
    <if test="realname!=null">  
    and realname = #{realname,jdbcType=VARCHAR}
    </if> 
    <if test="entId!=null">  
    and ent_id = #{entId,jdbcType=BIGINT}
    </if>
    <if test="idNotEQUAL !=null">  
    	and id != #{idNotEQUAL,jdbcType=BIGINT}
    </if>
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if>  
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if> 
     limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" >
    select id, username, realname,password, lock_status, lock_time, login_ip, lock_count, login_time, create_time,
    status
    from t_sec_person
  </select>
  
  <select id="count"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(1)
    from t_sec_person where 1=1
   <if test="username!=null">  
    and username = #{username,jdbcType=VARCHAR}
    </if>  
    <if test="realname!=null">  
    and realname = #{realname,jdbcType=VARCHAR}
    </if> 
    <if test="entId!=null">  
    and ent_id = #{entId,jdbcType=BIGINT}
    </if>
    <if test="idNotEQUAL !=null">  
    	and id != #{idNotEQUAL,jdbcType=BIGINT}
    </if>
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if>  
  </select>
  
  <select id="check"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(1)
    from t_sec_person where   
    ${property} = #{value}  
    and id != #{id} 
  </select>
</mapper>