<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.security.dao.cluster.RolePageClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.security.entity.RolePage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="page_id" jdbcType="BIGINT" property="pageId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, page_id, role_id
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sec_role_page
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select id, role_id, page_id
    from t_sec_role_page where 1=1
    <if test="roleId!=null">  
    and role_id = #{roleId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>