<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linkmore.security.dao.cluster.RoleClusterMapper">
  <resultMap id="BaseResultMap" type="cn.linkmore.security.entity.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, status, create_time, code
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sec_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" >
    <include refid="Base_Column_List" />
    from t_sec_role
  </select>
  <select id="findList" resultMap="BaseResultMap"  parameterType="java.util.HashMap" >
    select id, name,code, status,create_time
    from t_sec_role where 1=1 
     <if test="name!=null">  
    and name like #{name,jdbcType=VARCHAR}
    </if> 
    <if test="code!=null">  
    and code = #{code,jdbcType=INTEGER}
    </if>  
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if>  
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if> 
  </select>
  <select id="findPage" resultMap="BaseResultMap"  parameterType="java.util.HashMap" >
    select id, name, code,status,create_time
    from t_sec_role where 1=1 
     <if test="name!=null">  
    and name like #{name,jdbcType=VARCHAR}
    </if> 
    <if test="code!=null">  
    and code = #{code,jdbcType=INTEGER}
    </if>  
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if>  
    <if test="property==null">  
     order by create_time desc
    </if>
    <if test="property!=null">  
    order by  ${property} ${direction}
    </if> 
    limit  #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="count"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(1)
    from t_sec_role where 1=1 
     <if test="name!=null">  
    and name like #{name,jdbcType=VARCHAR}
    </if> 
    <if test="code!=null">  
    and code = #{code,jdbcType=INTEGER}
    </if>  
    <if test="status!=null">  
    and status = #{status,jdbcType=INTEGER}
    </if>  
  </select>
  
  <select id="check"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select count(1)
    from t_sec_role where   
    ${property} = #{value}  
    and id != #{id} 
  </select>
  
</mapper>